{% extends "_base.html" %}

{% load fullurl %}

{% block custom_header %}
<div class="container-fluid init-index-header">
    <div class="container">
        <div class="row title">
            <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                <h1 class="display-3">Agorá</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div id="init-list" class="container init-index">
    {% for topic in topics %}
    <div class="container-fluid init-index-header">
        <div class="container">
            <div class="row title">
                <div class="col-12 text-center" style="">
                    <a href="{% fullurl 'topic' topic_id=topic.id slug=topic.slug %}">
                        <h4 style="border: 1px solid lightgrey;padding:10px;margin-bottom:40px">{{topic.topic}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card">
        <div class="card-block">
            <em>Zurzeit werden keine Themen auf der Agorá diskutiert.</em>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
