{% extends "_base.html" %}

{% load fullurl %}

{% block custom_header %}
<div class="container-fluid init-index-header">
    <div class="container">
        <div class="row title">
            <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                <h1 class="display-3">Agorá</h1>
            </div>
        </div>
    </div>
</div>
{% include "fragments/topic/explanation.html" %}
{% endblock %}

{% block content %}
<div id="init-list" class="container init-index">
{% include "fragments/topic/list.html" %}
</div>
{% endblock %}
