{% extends "_base.html" %}

{% load static %}
{% load fullurl %}
{% load guard %}

{% block custom_header %}
<div class="container-fluid init-index-header">
    <div class="container">
        <div class="row title">
            <div class="col-12 text-center" style="padding-top: 3rem; padding-bottom: 3rem">
                <h1 class="display-4">Initiativplattform</h1>
            </div>
        </div>
    </div>
</div>

{% include "initproc/blocks/filter.html" %}
{% comment %}
{% include "initproc/blocks/magic_search.html" %}
{% endcomment %}

{% endblock %}

{% block content %}
<div id="init-list" class="container init-index">
	{% include "fragments/initiative/list.html" %}
</div>

{% endblock %}

{% block body-javascript %}

{{ block.super }}
<script type="text/javascript">
  	$(function(){
  		var submitTimeout = null;
	    $('.typefilter input').change(function(item) {
	    	$("#init-list").html("Loading ...");
	    	$("#filters").submit();
	    });	
  	});
  	// Initialize Tooltips
  	$(function () {
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>
{% comment %}
<script type="text/javascript" src="{% static 'js/vendor/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dib/magic-search.js' %}"></script>
{% endcomment %}
{% endblock %}
