{% extends "_base.html" %}
{% load bootstrap_ui_tags %}

{% block content %}

	{% row %}
		{% column %}

		<form id="filters" method="GET">
			<div class="typefilter">
				zeige nur: 
		      <label>
		      	<input name="f" value="n" type="checkbox" {% if 'n' in filters %} checked{% endif %}>
		      		<span class="label label-primary">Sucht Unterstützung</span>
		      </label>
		      <label>
		      	<input name="f" value="d" type="checkbox" {% if 'd' in filters %} checked{% endif %}>
		      		<span class="label label-info">In Diskussion</span>
		      </label>
		      <label>
		      	<input name="f" value="v" type="checkbox" {% if 'v' in filters %} checked{% endif %}>
		      		<span class="label label-danger">Abstimmung</span>
		      </label>
		      <label>
		      	<input name="f" value="a" type="checkbox" {% if 'a' in filters %} checked{% endif %}>
		      		<span class="label label-success">Angenommen</span>
		      </label>
		      <label>
		      	<input name="f" value="r" type="checkbox" {% if 'r' in filters %} checked{% endif %}>
		      		<span class="label label-default">Abgelehnt</span>
		      </label>
		    </div>
		 </form>

		{% endcolumn %}

    {% endrow %}

   {% for init in initiatives %}

	{% row %}
		{% column %}
			<h2 class="init-title"><a href="/initiative/{{init.id}}">{{init.title}}</a></h2>
			<p>
			    {% ifequal init.state 'n' %}
			      <span class="label label-primary">Sucht Unterstützung</span>
			    {% endifequal %}

			    {% ifequal init.state 'd' %}
			      <span class="label label-info">In Diskussion</span>
			    {% endifequal %}

			    {% ifequal init.state 'v' %}
			      <span class="label label-danger">Abstimmung</span>
			    {% endifequal %}

			    {% ifequal init.state 'a' %}
			      <span class="label label-success">Angenommen</span>
			    {% endifequal %}

			    {% ifequal init.state 'r' %}
			      <span class="label label-default">Abgelehnt</span>
			    {% endifequal %}

				{{init.summary}}
			</p>
		{% endcolumn %}

	{% endrow %}

   {% endfor %}

{% endblock %}


{% block body-javascript %}
    {{ block.super }}

  <script type="text/javascript">
  	$(function(){
  		var submitTimeout = null;
	    $('.typefilter input').change(function(item) {
	    	if (submitTimeout) window.clearTimeout(submitTimeout);
	    	submitTimeout = window.setTimeout(function() {
	    		$("#filters").submit();
	    	}, 900);

	    });	
  	});
</script>
{% endblock %}
