{% extends "_base.html" %}
{% load avatar_tags %} 
{% load mathfilters %}
{% load markdown %}
{% load fullurl %}

{% block head_title %}
{{initiative.title}} -- auf der Abstimmungsplattform der Beweger/innen von DEMOKRATIE IN BEWEGUNG
{% endblock %}

{% block custom_sm_title %}
    <meta property="og:title" content="{{initiative.title}}">
    <meta property="og:description" content="{{initiative.subtitle}}">
    <meta property="og:url" content="{% fullurl 'initiative_item' init_id=initiative.id slug=initiative.slug %}"">
{% endblock %}

{% block custom_header %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>Zurück zur Übersicht</a>
            </div>
        </div>
        <!--<div class="row initiative-state">
            <div class="col-12">
                <div class="d-flex flex-wrap">
                    {% ifequal initiative.state 'i' %}
                    <span class="badge badge-arrivals">
                        Noch nicht veröffentlicht
                    </span> {% endifequal %} {% ifequal initiative.state 'm' %}
                    <span class="badge badge-arrivals">
                        Wird gerade moderiert
                    </span> {% endifequal %} {% ifequal initiative.state 'h' %}
                    <span class="badge badge-arrivals">
                        Versteckt
                    </span> {% endifequal %} {% ifequal initiative.state 's' %}
                    <span class="badge badge-support">
                        Sucht Unterstützung
                    </span> {% endifequal %} {% ifequal initiative.state 'd' %}
                    <span class="badge badge-discussion">
                        In Diskussion
                    </span> {% endifequal %} {% ifequal initiative.state 'e' %}
                    <span class="badge badge-edits">
                        Finale Überarbeitung
                    </span> {% endifequal %} {% ifequal initiative.state 'v' %}
                    <span class="badge badge-vote">
                        Abstimmung
                    </span> {% endifequal %} {% ifequal initiative.state 'a' %}
                    <span class="badge badge-accepted">
                        Angenommen
                    </span> {% endifequal %} {% ifequal initiative.state 'r' %} {% if initiative.went_to_discussion_at %}
                    <span class="badge badge-rejected">
                        Abstimmung: Abgelehnt
                    </span> {% else %}
                    <span class="badge badge-rejected">
                        Sucht Unterstützung: gescheitert
                    </span> {% endif %} {% endifequal %}
                    <span class="text-muted">
                        Noch {{initiative.end_of_this_phase | timeuntil}}
                    </span>
                </div>
            </div>
        </div>-->
        <div class="row title">
            <div class="col-12">
                <h1 class="display-4">{{initiative.title}}</h1>
            </div>
        </div>
        <div class="row subtitle">
            <div class="col-12">
                <p>{{initiative.subtitle}}</p>
            </div>
        </div>
        <div class="row skip-meta">
            <div class="col-12">
                <a href="#initiative-text" class="skip-meta"><i class="material-icons expand-more">expand_more</i>Zum Text der Initiative</a>
            </div>
        </div>
        <div class="row initiative-state">
            <div class="col-12">
                {% ifequal initiative.state 'i' %}
                <p>
                    Diese Initiative <strong class="badge-arrivals">wurde noch nicht veröffentlicht</strong>.
                </p>
                {% endifequal %}
                {% ifequal initiative.state 'm' %}
                <p>
                    Diese Initiative <strong class="badge-arrivals">wird gerade moderiert</strong>.
                </p>
                {% endifequal %}
                {% ifequal initiative.state 'h' %}
                <p>
                    Diese Initiative <strong class="badge-arrivals">ist gerade nicht sichtbar</strong>.
                </p>
                {% endifequal %}
                {% ifequal initiative.state 's' %}
                {% if initiative.absolute_supporters < initiative.quorum %}
                <p>
                    Diese Initiative 
                    <a href="#cta"><strong class="badge-support">sucht noch mindestens {{initiative.quorum|sub:initiative.absolute_supporters}} {% if initiative.absolute_supporters == 1 %}Unterstützer/in{% else %}Unterstützer/innen{% endif %}</strong></a>. Dafür bleiben ihr <strong>noch {{initiative.end_of_this_phase | timeuntil}}</strong>.
                </p>
                {% elif initiative.absolute_supporters == initiative.quorum %}
                <p>
                    Diese Initiative hat 
                    <a href="#cta"><strong class="badge-support">das Quorum an Unterstützer/innen</strong></a>erreicht!
                    <br />
                    In <strong>{{initiative.end_of_this_phase | timeuntil}}</strong> geht diese Initiative in Diskussion.
                </p>
                {% else %}
                <p>
                    Diese Initiative 
                    <a href="#cta"><strong class="badge-support">hat das Quorum erreicht</strong></a>erreicht und darüber hinaus <strong>{{initiative.absolute_supporters|sub:initiative.quorum}}</strong> {% if initiative.absolute_supporters|sub:initiative.quorum == 1 %}Unterstützer/in{% else %}Unterstützer/innen{% endif %}.
                    <br />
                    In <strong>{{initiative.end_of_this_phase | timeuntil}}</strong> geht diese Initiative in Diskussion.
                </p>
                {% endif %}
                {% endifequal %}
                {% ifequal initiative.state 'd' %}
                <span class="badge badge-discussion">
                    In Diskussion
                </span> {% endifequal %} {% ifequal initiative.state 'e' %}
                <span class="badge badge-edits">
                    Finale Überarbeitung
                </span> {% endifequal %} {% ifequal initiative.state 'v' %}
                <span class="badge badge-vote">
                    Abstimmung
                </span> {% endifequal %} {% ifequal initiative.state 'a' %}
                <span class="badge badge-accepted">
                    Angenommen
                </span> {% endifequal %} {% ifequal initiative.state 'r' %} {% if initiative.went_to_discussion_at %}
                <span class="badge badge-rejected">
                    Abstimmung: Abgelehnt
                </span> {% else %}
                <span class="badge badge-rejected">
                    Sucht Unterstützung: gescheitert
                </span> {% endif %} {% endifequal %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid initiators">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-muted classification">Initiator/innen</h6>
            </div>
        </div>
        <div class="row no-gutters avatar">
            <div class="d-flex flex-wrap">
                {% for user in initiative.initiators.all %}
                <div class="text-center initiator">
                    {% avatar user %}
                    <div class="name">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid meta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6 class="text-muted classification">Veröffentlicht am</h6>
                <div>
                {% if initiative.went_public_at is True %}
                    {{initiative.went_public_at}}
                {% else %}
                    Noch nicht veröffentlicht
                {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <h6 class="text-muted classification">Bereich</h6>
                <div>
                    {{initiative.bereich}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6 class="text-muted classification">Einordnung</h6>
                <div>
                    {{initiative.einordnung}}
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <h6 class="text-muted classification">Ebene</h6>
                <div>
                    {{initiative.ebene}}
                </div>
            </div>
        </div>
    </div>
</div>
{% ifequal initiative.state 's' %}
<div id="cta" class="container-fluid cta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-muted classification">Noch {{initiative.end_of_this_phase | timeuntil}}</h6>
                {% ifequal initiative.state 's' %}
                <span class="meta-content current-supporters">
                    <strong>
                        {{initiative.absolute_supporters|default:0}} 
                    </strong>
                    {% if initiative.absolute_supporters == 1 %}
                    Unterstützer/in
                    {% else %}
                    Unterstützer/innen
                    {% endif %}
                </span>
                <div class="progress">
                    <div class="progress-bar bg-support" role="progressbar" style="width: {{initiative.relative_support|floatformat:" 0 "}}%;" aria-valuenow="{{initiative.absolute_supporters}}" aria-valuemin="0" aria-valuemax="{{initiative.quorum}}">
                    </div>
                </div>
                {% if initiative.absolute_supporters < initiative.quorum %}
                <span class="meta-content support-needed">
                    Es fehlen noch 
                    <strong>
                        {{initiative.quorum|sub:initiative.absolute_supporters}}
                    </strong> 
                    {% if initiative.quorum|sub:initiative.absolute_supporters == 1 %}
                    Unterstützer/in{% else %}Unterstützer/innen{% endif %} zum Erreichen des Quorums.
                </span>
                {% elif initiative.absolute_supporters == initiative.quorum %}
                 <span class="meta-content">
                    Diese Initiative hat das Quorum an Unterstützer/innen erreicht!
                </span>
                {% else %}
                <span class="meta-content">
                    Diese Initiative hat das Quorum erreicht und darüber hinaus 
                    <strong>
                        {{initiative.absolute_supporters|sub:initiative.quorum}}
                    </strong> 
                    {% if initiative.absolute_supporters|sub:initiative.quorum == 1 %}
                    Unterstützer/in{% else %}Unterstützer/innen{% endif %}.
                </span>
                {% endif %}
                {% if has_supported %}
                <span class="meta-content support supported-by">
                    Du unterstützt diese Initiative!
                </span>
                {% else %}
                <form action="/initiative/{{initiative.id}}/support" method="POST">
                    {% csrf_token %}
                    <button class="btn bg-support" type="submit">
                        Jetzt Unterstützen
                    </button>
                    <div class="form-check">
                        <label class="form-check-label text-muted">
                            <input type="checkbox" class="form-check-input" name="public">
                            Öffentlich anzeigen
                        </label>
                    </div>
                </form>
                {% endif %}
                {% endifequal %}
            </div>
        </div>
    </div>
</div>
{% endifequal %}
{% endblock %}

{% block content %}
<div id="initiative-text" class="container-fluid initiative-single">
    <div class="container">
        <div class="row initiative-text">
            <div class="col-12">
                <h6 class="text-muted classification">Text der Initiative</h6>
                {{initiative.summary|markdown}}
                <h2>Problembeschreibung</h2>
                {{initiative.problem|markdown}}
                <h2>Forderung</h2>
                {{initiative.forderung|markdown}}
                <h2>Kosten</h2>
                {{initiative.kosten|markdown}}
                <h2>Finanzierungsvorschlag</h2>
                {{initiative.fin_vorschlag|markdown}}
                <h2>Arbeitsweise</h2>
                {{initiative.arbeitsweise|markdown}}
                <h2>Argument der Initiatoren</h2>
                <blockquote class="blockquote argument">
                    {{initiative.init_argument|markdown}}
                    <!--<div class="avatar">
                        {% for user in initiative.initiators.all %} {% avatar user 35 %} {% endfor %}
                    </div>-->
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if initiative.was_closed_at %}
                <h3 class="history-title">
			    <span class="date">{{initiative.was_closed_at}}</span>
			    {% if initiative.went_to_discussion_at %}
			      Nach Abstimmung mit {{ initiative.yays|default:0 }} Für- und {{ initiative.nays|default:0 }} Gegenstimmen
			      {% ifequal initiative.state 'a' %}
			        angenommen.
			      {% else %}
			        abgelehnt.
			      {% endifequal %}
			    {% else %}
			     Mit {{initiative.absolute_supporters|default:0}} Unterstützern wurde das Qurom von {{initiative.quorum}} nicht erreicht. Die Initiative wurde damit abgelehnt.
			    {% endif }
			    {% endif %}
			    </h3> {% endif %} {% if initiative.state == 's' %}
			</div>
		</div>
    </div>
</div>
{% ifequal initiative.state 's' %}
<div class="container-fluid cta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-muted classification">Noch {{initiative.end_of_this_phase | timeuntil}}</h6>
                {% ifequal initiative.state 's' %}
                <span class="meta-content current-supporters">
                    <strong>
                        {{initiative.absolute_supporters|default:0}} 
                    </strong>
                    {% if initiative.absolute_supporters == 1 %}
                    Unterstützer/in
                    {% else %}
                    Unterstützer/innen
                    {% endif %}
                </span>
                <div class="progress">
                    <div class="progress-bar bg-support" role="progressbar" style="width: {{initiative.relative_support|floatformat:" 0 "}}%;" aria-valuenow="{{initiative.absolute_supporters}}" aria-valuemin="0" aria-valuemax="{{initiative.quorum}}">
                    </div>
                </div>
                {% if initiative.absolute_supporters < initiative.quorum %}
                <span class="meta-content support-needed">
                    Es fehlen noch 
                    <strong>
                        {{initiative.quorum|sub:initiative.absolute_supporters}}
                    </strong> 
                    {% if initiative.quorum|sub:initiative.absolute_supporters == 1 %}
                    Unterstützer/in{% else %}Unterstützer/innen{% endif %} zum Erreichen des Quorums.
                </span>
                {% elif initiative.absolute_supporters == initiative.quorum %}
                 <span class="meta-content">
                    Diese Initiative hat das Quorum an Unterstützer/innen erreicht!
                </span>
                {% else %}
                <span class="meta-content">
                    Diese Initiative hat das Quorum erreicht und darüber hinaus 
                    <strong>
                        {{initiative.absolute_supporters|sub:initiative.quorum}}
                    </strong> 
                    {% if initiative.absolute_supporters|sub:initiative.quorum == 1 %}
                    Unterstützer/in{% else %}Unterstützer/innen{% endif %}.
                </span>
                {% endif %}
                {% if has_supported %}
                <span class="meta-content support supported-by">
                    Du unterstützt diese Initiative!
                </span>
                {% else %}
                <form action="/initiative/{{initiative.id}}/support" method="POST">
                    {% csrf_token %}
                    <button class="btn bg-support" type="submit">
                        Jetzt Unterstützen
                    </button>
                    <div class="form-check">
                        <label class="form-check-label text-muted">
                            <input type="checkbox" class="form-check-input" name="public">
                            Öffentlich anzeigen
                        </label>
                    </div>
                </form>
                {% endif %}
                {% endifequal %}
            </div>
        </div>
    </div>
</div>
{% endifequal %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
        	<div class="col-12">
        		{% if initiative.public_absolute_supporters %}
        		<h2>Unterstützer/innen</h2>
                <div class="d-flex flex-wrap avatar">
                        {% for user in initiative.public_supporters %} {% avatar user %} {% endfor %}
                </div>
                {% endif %} {% elif initative.state == "a" %} {% elif initative.state == "r" %} {% elif initative.state == "d" %} {% elif initative.state == "v" %} {% endif %} {% if initiative.went_to_discussion_at %}
                <!-- Diskussion element -->
                <h3>Argumente</h3>
                <div class="discourse">
                    <div class="pro">
                        <h4>Dafür</h4>
                        <ul class="list-group">
                            {% for arg in pro %} {% include "initproc/_argument.html" with argument=arg %} {% endfor %}
                        </ul>
                    </div>
                    <div class="contra">
                        <h4>Dagegen</h4>
                        <ul class="list-group">
                            {% for arg in contra %} {% include "initproc/_argument.html" with argument=arg %} {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if initiative.state == "d" %}
                <form action="/initiative/{{initiative.id}}/post_argument" method="POST">
                    <div class="post-argument panel panel-default">
                        <div class="panel-heading">
                            Neues Argument
                            <label>
                                <input type="radio" name="vote" value="yay" />dafür</label>
                            <label>
                                <input type="radio" name="vote" value="nay" /> dagegen</label> erstellen.
                            <input placeholder="Überschrift" type="text" maxlength="80" name="title">
                        </div>
                        <div class="panel-body">
                            {% csrf_token %}
                            <textarea name="text" placeholder="Argumentausführung"></textarea>
                            <button type="submit" class="btn btn-success pull-right">Einstellen</button>
                </form>
                </div>
                </div>
                {% endif %} {% endif %} {% comment %} {% if initiative.went_to_voting_at %}
                <h3 class="history-title">
			    <span class="date">{{initiative.went_to_voting_at}}</span>
			    {{ initiative.demands.count|default:0 }} Fordern Abstimmung (Quorum: {{initiative.quorum}}): Abstimmung eröffnet.
			  </h3> {% endif %} {% if initiative.went_to_discussion_at %}
                <h3 class="history-title">
			    <span class="date">{{initiative.went_to_discussion_at}}</span>
			    Unterstützerquorum ({{initiative.quorum}}) erreicht - Diskussionsphase eröffnet.
			  </h3> {% endif %} {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block body-javascript %} {{ block.super }}
<script type="text/javascript">
$('.argument .short').click(function(item) {
    var $this = $(this);
    $this.parent().find('.long').show();
    $this.hide();
});
$('.argument .long .content').click(function(item) {
    var $this = $(this);
    $this.parent().parent().find('.short').show();
    $this.parent().hide();
});

$(function() {
    if (document.location.hash) {
        let id = document.location.hash.slice(1);
        $('#' + id + ' .short').click();
    }
});
</script>
{% endblock %}
