{% extends "_base.html" %}
{% load bootstrap_ui_tags %}

{% block content %}
{{ block.super }}

{% row %}
  {% column %}
    <h1>{{initiative.title}}</h1>
    {% ifequal initiative.state 'n' %}
      <span class="label label-primary">Sucht Unterstützung</span>
    {% endifequal %}

    {% ifequal initiative.state 'd' %}
      <span class="label label-info">In Diskussion</span>
    {% endifequal %}

    {% ifequal initiative.state 'v' %}
      <span class="label label-danger">Abstimmung</span>
    {% endifequal %}

    {% ifequal initiative.state 'a' %}
      <span class="label label-success">Angenommen</span>
    {% endifequal %}

    {% ifequal initiative.state 'r' %}
      <span class="label label-default">Abgelehnt</span>
    {% endifequal %}
    
  {% endcolumn %}
{% endrow %}

{% row %}
  {% column xs='12' sm='12' md='8' lg='8' %}
    <p>{{initiative.summary}}</p>

    <h2>Forderung</h2>
    <p>{{initiative.forderung}}</p>
    
    <h2>Kosten</h2>
    <p>{{initiative.kosten}}</p>
    
    <h2>Finanzierungsvorschlag</h2>
    <p>{{initiative.fin_vorschlag}}</p>

    <h2>Arbeitsweise</h2>
    <p>{{initiative.arbeitsweise}}</p>

    <h2>Argument der Initiatoren</h2>
    <blockquote class="argument">
      {{initiative.init_argument}}
      <br/>
      {% include 'accounts/avatars.html' with people=initiative.initiators.all %}
    </blockquote>
  {% endcolumn %}

  {% column xs='12' sm='12' md='4' lg='4' %}

    {% panel %}
      {% panelbody %}
        <h3>Einordnung</h3>
          <span>{{initiative.einordnung}}</span>

        <h3>Bereich</h3>
          <span>{{initiative.bereich}}</span>

        <h3>Ebene</h3>
          <span>{{initiative.ebene}}</span>

        <h3>Eingereicht</h3>
          <span>{{initiative.added_at}}</span>

        <h3>Initiatore</h3>
        <div>
          {% include 'accounts/avatars.html' with people=initiative.initiators.all %}
        </div>

        <hr>
        {% ifequal initiative.state 'n' %}
          <p>Sucht Unterstützung</p>

          <div class="progress">
            <div class="progress-bar progress-bar-success  progress-bar-striped active" role="progressbar" aria-valuenow="{{initiative.supporter.count}}" aria-valuemin="0" aria-valuemax="{{initiative.quorum}}" style="height: 2em; min-width: 2em; width: 60%;">
              {{initiative.supporter.count|default:0}} Unterstützer
            </div>
          </div>
          <button class="btn btn-success">Jetzt Unterstützen</button>
        {% endifequal %}


      {% endpanelbody %}
    {% endpanel %}
  {% endcolumn %}
{% endrow %}

{% if initiative.was_closed_at %}
  <h3 class="history-title">
    <span class="date">{{initiative.was_closed_at}}</span>
    {% if initiative.went_to_voting_at %}
     Nach Abstimmung mit {{ initiative.yays|default:0 }} Für- und {{ initiative.nays|default:0 }} Gegenstimmen
    {% else %}

      {% ifequal initiative.went_to_discussion_at None %}
       Mit {{initiative.supporters.count|default:0}} Unterstützern wurde das Qurom von {{initiative.quorum}} nicht erreicht:
      {% else %}
        Ohne Abstimmung ({{ initiative.demands.count|default:0 }} von {{initiative.quorum}})
      {% endifequal %}
    {% endif %}
      {% ifequal initiative.state 'a' %}
        angenommen.
      {% else %}
        abgelehnt.
      {% endifequal %}
  </h3>
  {% row %}
    {% column %}
    {% endcolumn %}
  {% endrow %}
{% endif %}


{% if initiative.went_to_voting_at %}
  <h3 class="history-title">
    <span class="date">{{initiative.went_to_voting_at}}</span>
    {{ initiative.demands.count|default:0 }} Fordern Abstimmung (Quorum: {{initiative.quorum}}): Abstimmung eröffnet.
  </h3>
  {% row %}
    {% column %}
    {% endcolumn %}
  {% endrow %}
{% endif %}

{% if initiative.went_to_discussion_at %}
  <h3 class="history-title">
    <span class="date">{{initiative.went_to_discussion_at}}</span>
    Unterstützerquorum ({{initiative.quorum}}) erreicht - Diskussionsphase eröffnet.
  </h3>
  {% row %}
    {% column %}
    {% endcolumn %}
  {% endrow %}
{% endif %}

{% endblock %}S