{% extends "_base.html" %}

{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container new-initiative">
	<div class="card">
		{% if is_new %}
		<div class="card-header">
			<h1>Neue Initiative einreichen</h1>
			<p>Hier kannst Du eine neue Initiative in den Abstimmungsprozess einbringen. <a href="https://marktplatz.bewegung.jetzt/t/eine-initiative-starten-und-mitinitiatoren-einladen/2593">Weitere Erklärung und Hilfe dazu findest Du auf dem Marktplatz der Ideen</a>.</p>
		</div>
		{% else %}
		<div class="card-header">
			<h1>Initiative bearbeiten</h1>
			<p>Weitere Erklärung der Bestandteile einer Initiative findest Du <a href="https://marktplatz.bewegung.jetzt/t/eine-initiative-starten-und-mitinitiatoren-einladen/2593">auf dem Marktplatz der Ideen</a>.</p>
		</div>
		{% endif %}
		<form method="POST">
			 {% csrf_token %}
			<div class="card-body">
				<div class="container">
				{{form|bootstrap}}
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary">Speichern</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}


{% block body-javascript %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}