{% extends "_base.html" %}

{% load avatar_tags %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container new-initiative">
	<div class="card">
		{% if initiative.is_editable %}
		<div class="card-header">
			<h1>Initiative bearbeiten</h1>
			<p>Weitere Erklärung der Bestandteile einer Initiative findest du <a href="https://marktplatz.bewegung.jetzt/t/eine-neue-initiative-in-den-abstimmungsprozess-einbringen/1777">auf dem Marktplatz der Ideen</a>.</p>
		</div>
		{% else %}
		<div class="card-header">
		  <h1>Neue Initiative einreichen</h1>
		  <p>Hier kannst du eine neue Initiative in den Abstimmungsprozess einbringen. <a href="https://marktplatz.bewegung.jetzt/t/eine-neue-initiative-in-den-abstimmungsprozess-einbringen/1777">Weitere Erklärung und Hilfe dazu findest du auf dem Marktplatz der Ideen</a>.</p>
		</div>
		{% endif %}
		<form method="POST">
			 {% csrf_token %}
			<div class="card-body">
				<div class="container">
				{{form|bootstrap}}
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary">Speichern</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}


{% block body-javascript %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}