{% extends "_base.html" %}

{% load fullurl %}

{% block custom_header %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% fullurl 'agora' %}" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zur Agorá</a>
            </div>
        </div>
        <div class="row initiative-title">
            <div class="col-12">
                <h1 class="display-4">{{topic.topic}}</h1>
            </div>
        </div>
        <div class="row initiative-subtitle">
            <div class="col-12">
                <p>{{topic.subtitle}}</p>
            </div>
        </div>
        {% if topic.motivation %}
        <h4 class="text-muted" style="margin-top:2rem">Motivation</h4>
        <div class="row initiative-subtitle">
            <div class="col-12">
                <p>{{topic.motivation}}</p>
            </div>
        </div>
        {% endif %}
        <div class="row title" style="margin-top:3rem">
            <div class="col-12 text-center">
                <a href="{% fullurl 'new_contribution' topic_id=topic.id slug=topic.slug %}"><h5>Neuen Beitrag zu diesem Thema einbringen</h5></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container init-index">
    <div class="container-fluid init-index-header">
        <div class="container">
            <div class="row title">
                <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                    <h1 class="display-4 display-smaller">Beiträge, die diskutiert werden</h1>
                </div>
            </div>
        </div>
    </div>
    {% for initiative in discussions %}
    {% include "fragments/initiative/card.html"%}
    {% empty %}
    <div class="card">
        <div class="card-block">
            <em>Zurzeit gibt es zu diesem Thema keine Beiträge, die diskutiert werden.</em>
        </div>
    </div>
    {% endfor %}
    <div class="container init-index">
        <div class="container-fluid init-index-header">
            <div class="container">
                <div class="row title">
                    <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                        <h1 class="display-4 display-smaller">Beiträge, die Unterstützung suchen</h1>
                    </div>
                </div>
            </div>
        </div>
        {% for initiative in reflections %}
        {% include "fragments/initiative/card.html" %}
        {% empty %}
        <div class="card">
            <div class="card-block">
                <em>Zurzeit gibt es zu diesem Thema keine Beiträge, die Unterstützung suchen.</em>
            </div>
        </div>
        {% endfor %}
</div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% fullurl 'agora' %}" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zur Agorá</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
