{% extends "_base.html" %}

{% load fullurl %}
{% load markdown %}

{% block custom_header %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if archive %}
                <a href="{% fullurl 'archive' %}" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zum Archiv</a>
                {% else %}
                <a href="{% fullurl 'agora' %}" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zur Agora</a>
                {% endif %}
            </div>
        </div>
        <div class="row initiative-title">
            <div class="col-12">
                <h1 class="display-4">{{topic.topic}}</h1>
            </div>
        </div>
        <div class="row initiative-subtitle">
            <div class="col-12">
                <p>{{topic.subtitle}}</p>
            </div>
        </div>
        {% if topic.motivation %}
        <h4 class="text-muted" style="margin-top:2rem">Motivation</h4>
        <div class="row initiative-text">
            <div class="col-12">
                <p>{{topic.motivation | markdown}}</p>
            </div>
        </div>
        {% endif %}
        {% if topic.accepting_submissions and not archive %}
        <div class="row title" style="margin-top:3rem">
            <div class="col-12 text-center">
                <a href="{% fullurl 'new_contribution' topic_id=topic.id slug=topic.slug %}"><h5>Neuen Beitrag zu diesem Thema einbringen</h5></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
{% if archive %}
{% if topic.open_ended %}
<div class="container init-index">
    <div class="container-fluid init-index-header">
        <div class="container">
            <div class="row title">
                <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                    <h1 class="display-4 display-smaller">Beiträge, die diskutiert wurden</h1>
                </div>
            </div>
        </div>
    </div>
    {% for initiative in excavations %}
    {% include "fragments/initiative/card.html" %}
    {% empty %}
    <div class="card">
        <div class="card-block">
            <em>Zu diesem Thema wurde noch keine Diskussion beendet.</em>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container-fluid cta">
    <div class="container">
        <div class="row initiative-state">
            <div class="col-12">
                <p>Dieses Thema ist abgeschlossen.</p>
            </div>
        </div>
        {% include 'fragments/weight-results.html' with singular='Beitrag' plural='Beiträge' event='der Abwägung zu diesem Thema' %}
    </div>
</div>
{% endif %}
{% else %}
{% if topic.soliciting_resistance %}
<script type="text/javascript">
function enable_submit() {
    var disabled = false;
    {% for contribution in evaluations %}
    var value = -1;
    var radios = document.getElementsByName('contribution{{contribution.id}}');
    for (var i = 0;i < radios.length;i++)
        if (radios [i].checked)
            value = radios [i].value;
    disabled |= value == -1 || (value > 6 && !document.getElementById('reason{{contribution.id}}').value);
    {% endfor %}
    document.getElementById('initial_vote_submit').disabled = disabled;
}
</script>
<div class="container-fluid">
    <div class="container">
        <div class="row initiative-state">
            {% include 'fragments/topic_resistances.html' %}
        </div>
    </div>
</div>
{% elif topic.accepting_submissions %}
<div class="container init-index">
    {% if initiations.count %}
    <div class="container-fluid init-index-header">
        <div class="container">
            <div class="row title">
                <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                    <h1 class="display-4 display-smaller">Beiträge, an denen Du arbeitest</h1>
                </div>
            </div>
        </div>
    </div>
    {% for initiative in initiations %}
    {% include "fragments/initiative/card.html"%}
    {% endfor %}
    {% endif %}
    {% if invitations.count %}
    <div class="container-fluid init-index-header">
        <div class="container">
            <div class="row title">
                <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                    <h1 class="display-4 display-smaller">Beiträge, zu denen Du eingeladen wurdest</h1>
                </div>
            </div>
        </div>
    </div>
    {% for initiative in invitations %}
    {% include "fragments/initiative/card.html"%}
    {% endfor %}
    {% endif %}
    <div class="container-fluid init-index-header">
        <div class="container">
            <div class="row title">
                <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                    <h1 class="display-4 display-smaller">Beiträge, die diskutiert werden</h1>
                </div>
            </div>
        </div>
    </div>
    {% for initiative in discussions %}
    {% include "fragments/initiative/card.html"%}
    {% empty %}
    <div class="card">
        <div class="card-block">
            <em>Zurzeit gibt es zu diesem Thema keine Beiträge, die diskutiert werden.</em>
        </div>
    </div>
    {% endfor %}
    <div class="container init-index">
        <div class="container-fluid init-index-header">
            <div class="container">
                <div class="row title">
                    <div class="col-12 text-center" style="padding-top: 4rem; padding-bottom: 3rem">
                        <h1 class="display-4 display-smaller">Beiträge, die Unterstützung suchen</h1>
                    </div>
                </div>
            </div>
        </div>
        {% for initiative in reflections %}
        {% include "fragments/initiative/card.html" %}
        {% empty %}
        <div class="card">
            <div class="card-block">
                <em>Zurzeit gibt es zu diesem Thema keine Beiträge, die Unterstützung suchen.</em>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endif %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if archive %}
                    <a href="{% fullurl 'archive' %}" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zum Archiv</a>
                    {% else %}
                    <a href="{% fullurl 'agora' %}" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zur Agora</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
