{% extends "in_box.html" %}

{% load i18n %}

{% block body_id %}notification-settings{% endblock %}

{% block head_title %}Plenum: Benachrichtigungseinstellungen{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h2>Benachrichtigungseinstellungen</h2>

        {% url "account_settings" as email_url %}
        {% if not request.user.email %}
            {% blocktrans %}
            <p class="alert alert-warning">
                <span class="warning">Note</span>:
                You do not have a verified email address to which notices can be sent. <a href="{{ email_url }}">Add one</a> now.
            </p>
            {% endblocktrans %}
        {% endif %}

        <form method="POST" class="form" action="">
            {% csrf_token %}
            <p><i>Nachrichten an alle aktiven Benutzer*innen:</i></p>
            <table class="table table-striped notice_settings">
                <tr>
                    <th>Benachrichtigungsgrund</th>
                    {% for header in notice_settings.column_headers %}
                        <th>
                            {{ header.title }}
                        </th>
                    {% endfor %}
                </tr>
                {% for row in notice_settings.rows %}
                    {% if row.notice_type.label == 'issue_published' or row.notice_type.label == 'init_published' %}
                    <tr class="notice-row">
                        <td>
                            <strong>{{ row.notice_type.display }}</strong><br/>
                            <span class="notice_type_description">
                                {{ row.notice_type.description }}
                            </span>
                        </td>
                        {% for cell in row.cells %}
                            <td>
                                <input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %} />
                            </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <br/>
            <p><i>Nachrichten an Initiator*innen, Unterstützer*innen und Prüfteam-Mitglieder:</i></p>
            <table class="table table-striped notice_settings">
                <tr>
                    <th>Benachrichtigungsgrund</th>
                    {% for header in notice_settings.column_headers %}
                        <th>
                            {{ header.title }}
                        </th>
                    {% endfor %}
                </tr>
                {% for row in notice_settings.rows %}
                    {% if row.notice_type.label != 'issue_published' and row.notice_type.label != 'init_published' %}
                    <tr class="notice-row">
                        <td>
                            <strong>{{ row.notice_type.display }}</strong><br/>
                            <span class="notice_type_description">
                                {{ row.notice_type.description }}
                            </span>
                        </td>
                        {% for cell in row.cells %}
                            <td>
                                <input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %} />
                            </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary pull-right">{% trans "Change" %}</button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col">
        <a href="{% url "profile_edit" %}"><i class="material-icons chevron-left">chevron_left</i>zurück zu den Profileinstellungen</a>
    </div>
</div>
{% endblock %}