{% extends "site_base.html" %}

{% load account_tags %}
{% load bootstrap %}

{% block head_title %}Plenum: Anmelden{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                    <h2>Als Beweger/in anmelden</h2>
                    {% csrf_token %}
                    {{ form |bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <a href="{% url "account_password_reset" %}">Passwort vergessen?</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p class="login-signup">Noch kein Konto? <strong><a href="/registrieren/">Jetzt registrieren!</a></strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
