{% extends "site_base.html" %}

{% block head_title %}Plenum: Abmelden{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url "account_logout" %}">
                    <h2>Abmelden</h2>
                    <fieldset>
                        {% csrf_token %}
                        <p>Willst Du Dich wirklich abmelden?</p>
                        <button type="submit" class="btn btn-primary">Abmelden</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}