{% extends "account/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block body_class %}account account-password{% endblock %}
{% block head_title %}{% trans "Plenum: Password Change" %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <form method="POST" action="">
            <h2>{% trans "Password Change" %}</h2>
            <fieldset>
                {% csrf_token %}
                {{ form | bootstrap  }}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </fieldset>
        </form>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col">
        <a href="{% url "profile_edit" %}"><i class="material-icons chevron-left">chevron_left</i>{% trans "Return to settings" %}</a>
    </div>
</div>
{% endblock %}
