{% extends "site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% load site_defaults %}

{% block head_title %}{% trans "Plenum: Email sent" %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if not resend %}
                <h2>{% trans "Email sent." %}</h2>
                <p>{% blocktrans with email={{ 'THEME_CONTACT_EMAIL'|get_setting }} %}A message to reset your password has been sent. If you do not receive it within the next couple of minutes (also check your spam folder), please click "Resend Link" below or contact us at <a href="{{ email }}">{{ email }}</a>.{% endblocktrans %}</p>

                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend Link" %}</button>
                </form>
                {% else %}
                <h2>{% trans "Email resent." %}</h2>
                <p>{% blocktrans with email={{ 'THEME_CONTACT_EMAIL'|get_setting }} %}Another message to reset your password has been sent. If you still do not receive either message, please contact us at <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
