{% extends "site_base.html" %}

{% block head_title %}Plenum: Link ungültig{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
			    <h2>Link ungültig</h2>
			    {% url "account_password_reset" as url %}
			    <p>Dieser Link zum Neusetzen Deines Passworts ist leider ungültig. Wahrscheinlich, weil Du ihn schon einmal benutzt hast. Wenn Du Dein Passwort ändern magst, lasse Dir einen <a href="{{ url }}">neuen Link zuschicken</a>.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}