{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Plenum: Invalid Link" %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
			    <h2>{% trans "Invalid Link" %}</h2>
			    {% url "account_password_reset" as url %}
			    <p>{% blocktrans with url=url %}This link is no longer valid. It has been already used or expired. If you want to reset your password, please <a href="{{ url }}">request a new link</a>.{% endblocktrans %}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
