{% extends "site_base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block head_title %}{% trans "Plenum: Password Reset" %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                    <h2>{% trans "Please choose a new password" %}</h2>
                    <fieldset>
                        {% csrf_token %}
                        {{ form| bootstrap }}
                        <button type="submit" class="btn btn-primary">{% trans "Save Password" %}</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
