{% extends "site_base.html" %}

{% load account_tags %}
{% load bootstrap %}

{% block head_title %}Plenum: Benutzerkonto anlegen{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                    <h2>Benutzerkonto anlegen</h2>
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Benutzerkonto anlegen</button>
                </form>
                <p class="mt-3">
                Du hast bereits ein Benutzerkonto für das Plenum? <strong><a href="{% urlnext 'account_login' %}">Dann melde dich hier an.</a></strong>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
