{% load avatar_full_url %}
{% if vote %}<div class="moderation-icon">{% else %}<div class="avatar">{% endif %}
<img
	src="{% avatar_relative_url user size %}"
	title="{{user.firstname|default:user.username}}"
	width="{{ size }}"
	height="{{ size }}"
	class="avatar"
/>
{% if vote %}
{% if vote == 'y' %}<span class="badge badge-success"><i class="material-icons">thumb_up</i></span>{% elif vote == 'n' %}<span class="badge badge-danger"><i class="material-icons">thumb_down</i></span>{% else %}<span class="badge badge-default"><i class="material-icons">thumbs_updown</i></span>{% endif %}
{% endif %}
</div>
