
<div id="argument-list">
    {% for argument in arguments %}
        {% include "fragments/argument/small.html" %}
    {% endfor %}
    <div id="new-argument" class="row justify-content-center align-items-center">
        <a data-ajax="true" href="/initiative/{{initiative.id}}/new_argument?type=👍&fragment=%23new-argument" class="btn btn-outline-primary" class="col-5">
			<i class="material-icons">thumb_up</i> Pro-Argument hinzufügen
		</a>
		<span class='col-1'></span>

        <a data-ajax="true" href="/initiative/{{initiative.id}}/new_argument?type=👎&fragment=%23new-argument" class="btn btn-outline-primary" class="col-5">
			<i class="material-icons">thumb_down</i>  Contra-Argument hinzufügen
		</a>
    </div>
</div>