
<div id="argument-list">
    {% for argument in arguments %}
        {% include "fragments/argument/small.html" %}
    {% endfor %}
</div>
<div id="new-argument" class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col text-center">
            <a data-ajax="true" href="/initiative/{{initiative.id}}/new_argument?type=👍&fragment=%23new-argument" class="btn">
        		<i class="material-icons">thumb_up</i> Pro-Argument hinzufügen
        	</a>
        </div>
        <div class="col text-center">
            <a data-ajax="true" href="/initiative/{{initiative.id}}/new_argument?type=👎&fragment=%23new-argument" class="btn">
        		<i class="material-icons">thumb_down</i> Contra-Argument hinzufügen
        	</a>
        </div>
    </div>
</div>