
<div id="argument-list">
    {% for argument in arguments %}
        {% include "fragments/argument/small.html" %}
    {% empty %}
        <div id="no-arguments" class="alert alert-info">Diese Debatte enthält {% if votybase.state == 'd' %}bisher{% endif %} keine Argumente.</div>
    {% endfor %}
</div>
<div id="debate-thanks" class="container-fluid push-alert fixed-top">
</div>
{% if votybase.state == 'd' %}
    <div id="new-argument" class="container-fluid">
{% include "fragments/argument/thumbs.html" %}
    </div>
{% else %}
{% endif %}