<div class="col-12" id="voting">
    <h6 class="text-muted classification">Noch {{issue.end_of_current_phase | timeuntil}} in Abstimmung</h6>
    {% if resistances %}
    <h3>Danke, Deine Widerstandspunkte wurden gezählt!</h3>
    <form data-ajax-submit="true" action="{% url 'reset_issue_resistances' issue_id=issue.id slug=issue.slug %}" method="POST">
        <h3>Du hast folgende Widerstandspunkte vergeben:</h3>
        {% for resistance in resistances %}
        <p style="padding-top:30px"><a href="{% url 'solution_item' solution_id=resistance.solution.id slug=resistance.solution.slug %}">{{resistance.solution.title}}</a></p>
        <div class="btn-group" role="group" style="display:inline">
            {% for i in "01234567890" %}
            <label>
                <input type="radio" {% if resistance.value == forloop.counter0 %}checked{% else %}disabled{% endif %}="1" style="margin-right:0.1rem;margin-left:0.8rem">
                {{forloop.counter0}}
            </label>
            {% endfor %}
        </div>
        {% if resistance.reason %}
        <div>Begründung: {{resistance.reason}}</div>
        {% endif %}
        {% endfor %}
        {% csrf_token %}
        <div><button class="btn btn-sm btn-default" type="submit" title="hier klicken um zurückzunehmen" style="margin-top:30px">Widerstandspunkte zurücknehmen</button></div>
    </form>
    {% else %}
        {% if request.guard.can_vote_issue %}
        <form data-ajax-submit="true" action="{% url 'issue_resistances' issue_id=issue.id slug=issue.slug %}" method="POST">
            {% csrf_token %}
            <p style="margin-top:30px;margin-bottom:20px">Hier kannst Du für die Lösungsvorschlägen, die zu dieser Fragestellung diskutiert wurden, Widerstandspunkte zwischen 0 (kein Widerstand) und 10 (großer Widerstand) vergeben. Um mehr als 6 Widerstandspunkte zu vergeben, musst Du eine Begründung angeben; ansonsten ist die Begründung optional.</p>
            {% for solution in solutions %}
            {% if solution.status != 'r' %}
            <p style="padding-top:30px"><a href="{% url 'solution_item' solution_id=solution.id slug=solution.slug %}">{{solution.title}}</a></p>
            <div class="btn-group" role="group" style="display:inline">
                {% for i in "01234567890" %}
                <label for="o{{solution.id}}_{{forloop.counter0}}">
                    <input type="radio" onchange="javascript:enable_submit()" name="solution{{solution.id}}" id="o{{solution.id}}_{{forloop.counter0}}" value="{{forloop.counter0}}" style="margin-right:0.1rem;margin-left:0.8rem">
                    {{forloop.counter0}}
                </label>
                {% endfor %}
                <div>Begründung: <input type="text" size="50" maxlength="100" oninput="javascript:enable_submit()" name="reason{{solution.id}}" id="reason{{solution.id}}" value="" style="margin-right:0.1rem;margin-left:0.8rem"></div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="col-12 text-left submit-vote" style="margin-top:60px">
                <button id="initial_vote_submit" type="submit" disabled="disabled" class="btn btn-lg btn-primary">Widerstandspunkte vergeben</button>
            </div>
        </form>
        {% else %}
            {% if request.guard.reason %}<div class="alert alert-info">{{request.guard.reason}}</div>{% endif %}
        {% endif %}
    {% endif %}
</div>
