<p><strong>{{initiative.votes.count}}</strong>{% if initiative.votes.count == 1 %} Person hat{% else %} Personen haben{% endif %} {% if closed %}an dieser Abstimmung teilgenommen{% else %}bisher abgestimmt{% endif %}.
</p> 
<div class="progress participation">
    <div class="progress-bar bg-vote{%if closed %}d{% endif %}" role="progressbar" style="width: {% widthratio initiative.votes.count user_count 100 %}%;" aria-valuenow="{{initiative.votes.count}}" aria-valuemin="0" aria-valuemax="{{user_count}}">
</div>
</div>
<p>Das {% if closed %}waren{% else %}sind{% endif %} <strong>{% widthratio initiative.votes.count user_count 100 %}</strong> Prozent aller <strong>{{user_count}}</strong> Abstimmungsberechtigten.
</p>
{% if has_voted %}
<p>Du hast mit 
</p>
<div class="your-vote">
{% if vote.in_favor %}<span class="in-favor text-center"><i class="material-icons">thumb_up</i> <br /><strong>Ja</strong></span>
	{% elif vote.against %}<span class="declined text-center"><i class="material-icons">thumb_down</i> <br /><strong>Nein</strong></span>
	{% else %}<span class="abstained text-center"><i class="material-icons">panorama_fish_eye</i> <br /><strong>Enthaltung</strong></span>{% endif %}
</div>
<p>abgestimmt.
</p>
{% else %}
{% if user.is_authenticated %}
<p>Du hast an dieser Abstimmung nicht teilgenommen.</p>
{% endif %}
{% endif %}
