<p><strong>{{participation_count}}</strong>{% if participation_count == 1 %} Person hat{% else %} Personen haben{% endif %} {% if closed %}an dieser Abstimmung teilgenommen{% else %}bisher abgestimmt{% endif %}.
</p> 
<div class="progress participation">
    <div class="progress-bar bg-vote{%if closed %}d{% endif %}" role="progressbar" style="width: {% widthratio participation_count user_count 100 %}%;" aria-valuenow="{{participation_count}}" aria-valuemin="0" aria-valuemax="{{user_count}}">
</div>
</div>
<p>Das {% if closed %}waren{% else %}sind{% endif %} <strong>{% widthratio participation_count user_count 100 %}</strong> Prozent aller <strong>{{user_count}}</strong> Abstimmungsberechtigten.
</p>
{% if vote %}
<p>Du hast mit 
</p>
<div class="your-vote">
{% if vote.in_favor %}<span class="in-favor text-center"><i class="material-icons">thumb_up</i> <br /><strong>Ja</strong></span>
	{% elif vote.against %}<span class="declined text-center"><i class="material-icons">thumb_down</i> <br /><strong>Nein</strong></span>
	{% else %}<span class="abstained text-center"><i class="material-icons">panorama_fish_eye</i> <br /><strong>Enthaltung</strong></span>{% endif %}
</div>
<p>abgestimmt.
</p>
{% elif preferences %}
<h3>Du hast folgende Widerstandspunkte vergeben:</h3>
{% for preference in preferences %}
<p style="padding-top:30px">{{preference.option.text}}</p>
<div class="btn-group" role="group" style="vertical-align:center">
	{% for i in "01234567890" %}
	<input type="radio" onchange="javascript:enable_submit({{preference.option.index}})" name="option{{preference.option.index}}" id="o{{preference.option.index}}{{forloop.counter0}}" value="{{forloop.counter0}}" {% if preference.value == forloop.counter0 %}checked{% else %}disabled{% endif %}="1" style="vertical-align:center;margin-right:10px;margin-left:10px">
	<label for="o{{preference.option.index}}{{forloop.counter0}}">{{forloop.counter0}}</label>
	{% endfor %}
</div>
{% endfor %}
{% else %}
{% if user.is_authenticated %}
<p>Du hast an dieser Abstimmung nicht teilgenommen.</p>
{% endif %}
{% endif %}
