{% load i18n %}
<p>
  <strong>{{ initiative.votes.count }}</strong>
  {% if initiative.votes.count == 1 %} {% trans "Participant" %}{% else %} {% trans "Participants" %}{% endif %} {% if closed %}{% trans "have voted for this proposal" %}{% else %}{% trans "have voted for this proposal so far" %}{% endif %}.
</p> 
<div class="progress participation">
  <div class="progress-bar bg-vote{%if closed %}d{% endif %}" role="progressbar" style="width: {% widthratio initiative.votes.count user_count 100 %}%;" aria-valuenow="{{initiative.votes.count}}" aria-valuemin="0" aria-valuemax="{{user_count}}">
</div>
</div>
<p>{% if closed %}{% trans "This represented" %}{% else %}{% trans "This represents" %}{% endif %} <strong>{% widthratio initiative.votes.count user_count 100 %}</strong>{% trans "percent of" %} <strong>{{user_count}}</strong> {% trans "eligible partipants" %}.{% endblocktrans %}
</p>
{% if vote %}
  <p>{% trans "You have voted with:" %}</p>
  <div class="your-vote">
  {% if vote.in_favor %}
    <span class="in-favor text-center"><i class="material-icons">thumb_up</i> <br /><strong>{% trans "In Favor" %}</strong></span>
  {% elif vote.against %}
    <span class="declined text-center"><i class="material-icons">thumb_down</i> <br /><strong>{% trans "Against" %}</strong></span>
  {% else %}
    <span class="abstained text-center"><i class="material-icons">panorama_fish_eye</i> <br /><strong>{% "Abstained" %}</strong></span>
  {% endif %}
  </div>
{% else %}
  {% if user.is_authenticated %}
    <p>{% trans "You have not participated in this vote." %}</p>
  {% endif %}
{% endif %}
