
<div id="proposal-list">
    {% for argument in proposals %}
        {% include "fragments/argument/small.html" %}
    {% empty %}
    <div class="alert alert-info">Es wurden {% if initiative.state == 'd' %}bisher{% endif %} keine Vorschläge eingebracht.</div>
    {% endfor %}
    {% if initiative.state == 'd' %}
	    <div id="new-proposal">
	        <a data-ajax="true" href="/initiative/{{initiative.id}}/new_proposal?fragment=%23new-proposal" class="btn btn-outline-primary">Neuen Vorschlag einbringen</a>
	    </div>
    {% endif %}
</div>