{% load markdown %}

<script type="text/javascript">
function enable_submit() {
	for (var i = 1;;i++) {
		var selector = 'input[name="option' + i + '"]';
		if (!document.querySelector(selector)) {
			document.getElementById('intial_vote_submit').disabled = false;
			return;
		}
		if (!document.querySelector(selector + ':checked'))
			return;
	}
}
</script>
<div class="col-12" id="voting">
    <h6 class="text-muted classification">Noch {{initiative.end_of_this_phase | timeuntil}} in Abstimmung</h6>
	{% if preferences %}
     	<h3>Danke, Deine Widerstandspunkte wurden gezählt!</h3>
     	<form data-ajax-submit="true" action="/{{initiative.einordnung}}/{{initiative.id}}-{{initiative.slug}}/reset_preference" method="POST">
			{% include "fragments/participation.html" with closed=0 %}
	 		{% csrf_token %}
			<div><button class="btn btn-sm btn-default" type="submit" title="hier klicken um zurückzunehmen" style="margin-top:30px">Widerstandspunkte zurücknehmen</button></div>
	 	</form>

    {% else %}
		<form data-ajax-submit="true" action="/{{initiative.einordnung}}/{{initiative.id}}-{{initiative.slug}}/preference" method="POST">
			{% csrf_token %}
			{% for option in initiative.options.all %}
			<div style="padding-top:30px">{{option.text|markdown}}</div>
			<div class="btn-group" role="group" style="display:inline">
				{% for i in "01234567890" %}
				<label for="o{{option.index}}{{forloop.counter0}}">
					<input type="radio" onchange="javascript:enable_submit()" name="option{{option.index}}" id="o{{option.index}}{{forloop.counter0}}" value="{{forloop.counter0}}" style="margin-right:0.1rem;margin-left:0.8rem">
					{{forloop.counter0}}
				</label>
				{% endfor %}
			</div>
			{% endfor %}
			<div class="col-12 text-left submit-vote" style="margin-top:30px">
				<button id="intial_vote_submit" type="submit" disabled="disabled" class="btn btn-lg btn-primary">Widerstandspunkte vergeben</button>
	    	</div>
	 	</form>
	{% endif %}

</div>