<script type="text/javascript">
chosen = 0;
function enable_submit(which) {
	chosen |= 1 << which;
	if (chosen == ((1 << {{initiative.options.count}}) - 1) << 1)
		document.getElementById('intial_vote_submit').disabled = false;
}
</script>
<div class="col-12" id="voting">
    <h6 class="text-muted classification">Noch {{initiative.end_of_this_phase | timeuntil}} in Abstimmung</h6>
	{% if preferences %}
     	<h3>Danke, Deine Widerstandspunkte wurden gezählt!</h3>
     	<form data-ajax-submit="true" action="/{{initiative.einordnung}}/{{initiative.id}}-{{initiative.slug}}/reset_preference" method="POST">
			{% include "fragments/participation.html" with closed=0 %}
	 		{% csrf_token %}
     		<button class="btn btn-sm btn-default" type="submit" title="hier klicken um zurückzunehmen" style="margin-top:30px">Widerstandspunkte zurücknehmen</button>
     		<div class="back-to-index">
	 		<a href="/" class="go-to-index"><i class="material-icons chevron-left">chevron_left</i>zur Übersicht</a>
	 		</div>
	 	</form>

    {% else %}
		<form data-ajax-submit="true" action="/{{initiative.einordnung}}/{{initiative.id}}-{{initiative.slug}}/preference" method="POST">
			{% csrf_token %}
			{% for option in initiative.options.all %}
			<p style="padding-top:30px">{{option.text}}</p>
			<div class="btn-group" role="group">
				{% for i in "01234567890" %}
				<input type="radio" onchange="javascript:enable_submit({{option.index}})" name="option{{option.index}}" id="o{{option.index}}{{forloop.counter0}}" value="{{forloop.counter0}}" style="height:1.5rem;margin-right:0.33rem;margin-left:1rem">
				<label for="o{{option.index}}{{forloop.counter0}}">{{forloop.counter0}}</label>
				{% endfor %}
			</div>
			{% endfor %}
			<div class="col-12 text-left submit-vote" style="margin-top:30px">
				<button id="intial_vote_submit" type="submit" disabled="disabled" class="btn btn-lg btn-primary">Widerstandspunkte vergeben</button>
	    	</div>
	 	</form>
	{% endif %}

</div>