{% extends 'in_box.html' %}

{% block body %}
 
<h1>Häufige Fragen</h1>
 
<h2>Was passiert hier?</h2>

<p>Auf dieser Plattform bestimmen wir gemeinsam, wofür DiB stehen soll. Du kannst diskutieren, Verbesserungsvorschläge machen und abstimmen.<br/>
Initiativen, die eine Mehrheit bekommen, werden offizielles DiB-Programm.</p>
 
<h2>Wie kann ich mitmachen?</h2>
<p>Indem Du Bewerger/in wirst. Hier kannst Du dich anmelden. <br/> Jede und jeder kann mitmachen!</p>
 
<h2>Ich habe mich angemeldet, aber wurde noch nicht freigeschaltet.</h2>
<p>Das freischalten kann bis zu 5 Tagen dauern, bitte hab noch etwas Geduld.</p>
 
<h2>Muss ich meinen echten Namen angeben?</h2>
<p>Bei der Registrierung ja. Wir müssen überprüfen, ob Du wirklich existierst, um Mehrfachanmeldungen zu verhindern.
Öffentlich wird dein Name nur angezeigt, wenn Du selber eine Initiative startest. Diskutieren und abstimmen kannst Du auch unter einem Synonym.</p>
<p>Wenn es dir möglich ist, freuen wir uns, wenn Du deinen echten Namen verwendest.</p>
 
<h2>Was ist eine Initiative?</h2>
<p>Eine Initiative ist ein Vorschlag für das Parteiprogramm von DiB. Sie besteht aus einer kurzen Beschreibung des Problems, aus konkreten Forderungen und aus Angaben zu Kosten und Finanzierbarkeit.</p>
 

<h2>Wie genau funktioniert der Abstimmungsprozess?</h2>

<p>Es gibt drei Phasen:</p>

<ol>
	<li><b>Phase: Sucht Unterstützung</b>
		<p>
	    In der ersten Phase müssen mindestens 1% der angemeldeten Beweger/innen für die Initiative unterschreiben. So wird überprüft, ob genügend Menschen das Thema für wichtig und unterstützenswert halten. Solange die Zahl der angemeldeten Beweger/innen unter 5000 liegt, gelten andere, niedrigere Quoren.
		</p>
		<p>Die erste Phase geht mindestens eine Woche und maximal 6 Monate. Eine Initiative, die nach 6 Monaten die nötigen Unterschriften nicht erreicht hat, wird gelöscht.
		</p>
	</li>
	<li><b>Phase: In Diskussion</b>
	    <p>In der zweiten Phase kannst Du deine Meinung zu einer Initiative äußern und Verbesserungsvorschläge machen. Du kannst Kommentare hinterlassen, die entweder für oder gegen die Initiative sprechen. Die besten Argumente stehen oben. So können sich auch Menschen mit wenig Zeit schnell über eine Initiative informieren.<br/>
		Die Diskussionsphase geht zwei Wochen, dann wird die Diskussion geschlossen.</p>
	</li>
	<li><b>Phase: Abstimmung</b>
		<p> In der dritten Phase wird über die Initiative abgestimmt. Die Abstimmungsphase geht zwei Wochen. Wird die Initiative angenommen, wird sie offizielles Parteiprogramm.
		</p>
</li>
</ol>
 
<h2>Was darf in einer Initiative gefordert werden und was nicht?</h2>

<p>Alle Initiativen müssen den vier Werten von Demokratie in Bewegung entsprechen. Die DiB-Werte sind:</p>

<ul>
<li>Demokratie, Mitbestimmung und Transparenz</li>
<li>Gerechtigkeit in sozialer, politischer, wirtschaftlicher und ökologischer Hinsicht</li>
<li>Weltoffenheit und Vielfalt</li>
<li>Zukunftsorientierung und Nachhaltigkeit</li>
</ul>

<p>Oder, anders gesagt: Unterstützung für Alleinerziehende, Umweltschutz und Lobbyregister finden wir gut. Todesstrafe, Atomkraft und Mauer um Deutschland bauen finden wir nicht gut.</p>

 <p>Wenn eine Initiative nicht den DiB-Werten entspricht, wird sie vom Moderationsteam gelöscht.
Wenn Du nicht einverstanden bist mit der Entscheidung des Moderationsteams, kannst Du dich an das Kuratorium wenden. Es besteht aus 100 Beweger/innen, die per Los bestimmt werden. Das Kuratorium entscheidet, ob eine Initiative zulässig ist oder nicht.</p>
 
<h2>Wie kann ich eine Initiative starten?</h2>

<p>Auf dem Marktplatz der Ideen kannst Du deine Idee vorstellen. Dort kannst Du andere Beweger/innen finden, die dir helfen, die Initiative zu formulieren. Um eine Initiative zu starten, müsst Ihr mindestens zu dritt sein.
Hier findest Du eine Vorlage mit Fragen, die deine Initiative beantworten sollte. Hier kannst Du deine Initiative einreichen.</p>
 
<h2>Was passiert, wenn es verschiedene Initiativen zu einem Thema gibt?</h2>
<p>Wir erweitern und verbessern diese Plattform ständig. In Zukunft wird es die Möglichkeit geben, über mehrere Vorschläge gleichzeitig abzustimmen.</p>
 
<h2>Ich will noch mehr über das Initiativprinzip wissen. Wo erfahre ich mehr?</h2>
<p>Hier: <a href="https://bewegung.jetzt/2017/04/03/so-funktioniert-das-initiativprinzip/">Wie funktioniert das Initiativprinzip?</a></p>

<p>Wenn Du es ganz genau wissen möchtest, kannst Du dir unsere Abstimmungsordnung zu Gemüte führen.</p>
 
<h2>Etwas funktioniert nicht. / Ich habe eine Anregung. / Ich habe immer noch Fragen.</h2>
<p>Gerne teile uns das Problem <a href="https://marktplatz.bewegung.jetzt/c/hilfe/abstimmen">in diese Support-Kategorie auf dem Marktplatz der Ideen</a> mit, oder schreib uns gerne eine E-Mail an: <a href="mailto:hallo@bewegung.jetzt">hallo@bewegung.jetzt</a></p>
 
<h2>Ich bin Programmierer oder Grafikdesigner und finde euer Projekt cool. Kann ich euch unterstützen?</h2>
<p>Ja, umbedingt! Bitte komm zu uns auf den Marktplatz der Ideen - konkret <a href="https://marktplatz.bewegung.jetzt/c/hilfe/abstimmen">besprechen wir das Tool hier</a>. Du kannst dir auch den <a href="https://github.com/DemokratieInBewegung/abstimmungstool">Code direkt im Github anschauen</a> und unsere Tickets in diesem <a href="https://wekan.bewegung.jetzt/b/uQJxjrioxz2EG9nLi/initiativ-tool">Wekanboard verfolgen</a>.</p>

{% endblock %}