{% extends 'site_base.html' %} {% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col help">
                <h2>Häufige Fragen</h2>
                <h3>Was passiert hier?</h3>
                <p>Auf dieser Plattform bestimmen wir gemeinsam, wofür DiB stehen soll. Du kannst diskutieren, Verbesserungsvorschläge machen und abstimmen.
                    <br/> Initiativen, die eine Mehrheit bekommen, werden offizielles DiB-Programm.</p>
                <h3>Wie kann ich mitmachen?</h3>
                <p>Indem Du verifizierte Beweger*in wirst:</p>
                <a href="https://dib.de/bewegerin-werden/" class="btn btn-outline-primary">Jetzt Beweger*in werden</a>
                <p>Jede*r kann mitmachen!</p>
                <h3>Ich habe mich als verifizierte Beweger*in registriert aber wurde noch nicht freigeschaltet.</h3>
                <p>Das Freischalten kann bis zu 5 Tage dauern, bitte hab noch etwas Geduld.</p>
                <h3>Muss ich meinen echten Namen angeben?</h3>
                <p>Bei der Registrierung ja. Wir müssen überprüfen, ob Du wirklich existierst, um Mehrfachanmeldungen zu verhindern. Öffentlich wird Dein Name nur angezeigt, wenn Du selber eine Initiative startest. Diskutieren und abstimmen kannst Du auch unter einem Pseudonym.</p>
                <p>Wenn es Dir möglich ist, freuen wir uns, wenn Du Deinen echten Namen verwendest.</p>
                <h3>Was ist eine Initiative?</h3>
                <p>Eine Initiative ist ein Vorschlag für das Parteiprogramm von DiB. Sie besteht aus einer kurzen Beschreibung des Problems, aus konkreten Forderungen und aus Angaben zu Kosten und Finanzierbarkeit.</p>
                <h3>Wie genau funktioniert der Abstimmungsprozess?</h3>
                <p>Auf dem Weg durch das Plenum durchläuft eine Initiative mehrere Phasen:</p>
                <ul>
                    <li><b>Prüfung</b>
                        <p>
                            Zunächst prüft das Prüfungsteam, ob die Initiative alle Voraussetzungen erfüllt. Das bedeutet vor allem, dass sie mit den Grundwerten von DiB in Einklang steht; zudem muss sie einigen formalen Bedingungen genügen.
                        </p>
                    </li>
                    <li><b>Unterstützung suchen</b>
                        <p>
                            In dieser Phase müssen mindestens 1% der angemeldeten Beweger*innen die Initiative unterstützen. So wird überprüft, ob genügend Menschen das Thema für wichtig und unterstützenswert halten. Solange die Zahl der angemeldeten Beweger*innen unter 5000 liegt, gelten andere, niedrigere Quoren.
                        </p>
                        <p>Die Unterstützungsphase dauert mindestens zwei Wochen und maximal 6 Monate. Eine Initiative, die nach 6 Monaten nicht die nötige Unterstützung erreicht hat, wird gelöscht.
                        </p>
                    </li>
                    <li><b>Diskussion</b>
                        <p>In dieser Phase kannst Du Deine Meinung zu einer Initiative äußern und Verbesserungsvorschläge machen. Du kannst Kommentare hinterlassen, die entweder für oder gegen die Initiative sprechen. Die besten Argumente stehen oben. So können sich auch Menschen mit wenig Zeit schnell über eine Initiative informieren.
                            <br/> Die Diskussionsphase dauert drei Wochen, dann wird die Diskussion geschlossen.</p>
                    </li>
                    <li><b>Überarbeitung</b>
                        <p>
                            In dieser Phase können die Initiator*innen die Initiative aufgrund der Vorschläge und Argumente, die in der Diskussion aufkamen, überarbeiten.
                        </p>
                    </li>
                    <li><b>Erneute Prüfung</b>
                        <p>
                            Falls die Initative überarbeitet wurde, wird sie erneut vom Prüfungsteam geprüft.
                        </p>
                    </li>
                    <li><b>Abstimmung</b>
                        <p> In dieser Phase wird über die Initiative abgestimmt. Die Abstimmungsphase dauert drei Wochen. Wird die Initiative angenommen, dann wird sie offizielles Parteiprogramm, sobald ein Parteitag sie bestätigt hat.
                        </p>
                    </li>
                </ul>
                <h3>Was darf in einer Initiative gefordert werden und was nicht?</h3>
                <p>Alle Initiativen müssen den vier Grundwerten von Demokratie in Bewegung entsprechen. Die DiB-Grundwerte sind:</p>
                <ul>
                    <li>Demokratie, Mitbestimmung und Transparenz</li>
                    <li>Gerechtigkeit in sozialer, politischer, wirtschaftlicher und ökologischer Hinsicht</li>
                    <li>Weltoffenheit und Vielfalt</li>
                    <li>Zukunftsorientierung und Nachhaltigkeit</li>
                </ul>
                <p>Oder, anders gesagt: Unterstützung für Alleinerziehende, Umweltschutz und Lobbyregister finden wir gut. Todesstrafe, Atomkraft und Mauer um Deutschland bauen finden wir nicht gut.</p>
                <p>Eine Initiative muss außerdem inhaltlich sein, d.h. sich auf das politische Programm und nicht z.B. die Strukturen oder Verfahren der Partei beziehen. Zudem darf sie nicht mit einer Initiative übereinstimmen, die in den letzten 6 Monaten abgelehnt wurde.  </p>
                <p>Wenn das Prüfungsteam zu dem Schluss kommt, dass eine Initiative nicht die Voraussetzungen erfüllt, kann es die Initiative ablehnen. Wenn möglich gibt es den Initiator*innen vorher Gelegenheit, die Einwände durch Änderungen auszuräumen. Wenn Du mit einer Entscheidung des Prüfungsteams nicht einverstanden bist, kannst Du Dich an das Kuratorium wenden. Es besteht aus Personen, die für jeden Fall separat per Los aus der Gesamtheit der Abstimmungsberechtigten (jeweils zur Hälfte Parteimitglieder und Beweger*innen) ausgewählt werden. Das Kuratorium entscheidet, ob eine Initiative zulässig ist oder nicht.</p>
                <h3>Wie kann ich eine Initiative starten?</h3>
                <p>Auf dem <a href="https://marktplatz.dib.de">Marktplatz der Ideen</a> kannst Du Deine Idee vorstellen. Dort kannst Du andere Beweger*innen finden, die Dir helfen, die Initiative zu formulieren. Um eine Initiative zu starten, müsst Ihr mindestens zu dritt sein. <a href="https://docs.google.com/document/d/1cih1abHKN1mpqN_YpfXE5pAozcAELJ68wJd4Yi8G1u4/edit">Hier findest Du eine Vorlage</a> mit Fragen, die Deine Initiative beantworten sollte. <a href="/initiative/new">Hier kannst Du Deine Initiative einreichen.</a></p>
                <h3>Was passiert, wenn es verschiedene Initiativen zu einem Thema gibt?</h3>
                <p>Das Prüfungsteam kann Initiativen als Alternativen zueinander identifizieren. Über diese Alternativen wird dann gleichzeitig abgestimmt.</p>
                <h3>Ich will noch mehr über das Initiativprinzip wissen. Wo erfahre ich mehr?</h3>
                <p>Hier: <a href="https://dib.de/2017/04/03/so-funktioniert-das-initiativprinzip/">Wie funktioniert das Initiativprinzip?</a></p>
                <p>Wenn Du es ganz genau wissen möchtest, kannst Du Dir <a href="https://dib.de/wp-content/uploads/2017/12/Abstimmungsordnung-Stand-27.-November-2017.pdf">unsere Abstimmungsordnung</a> zu Gemüte führen.</p>
                <h3>Ich möchte eine Initiative starten und könnte dabei etwas Hilfe gebrauchen.</h3>
                <p>Unterstützung, sei es in technischer, formaler oder organisatorischer Hinsicht, bekommst Du unter: <a href="mailto:plenum-hilfe@dib.de">plenum-hilfe@dib.de</a></p>
                <h3>Ich möchte eine andere Mail-Adresse verwenden.</h3>
                <p>Bitte schreib uns dazu an <a href="mailto:support@dib.de">support@dib.de</a>, damit Deine Adresse im Plenum und in der Mitgliederverwaltung gleichzeitig angepasst werden kann.</p>
                <h3>Etwas funktioniert nicht.&#8239;/&#8239;Ich habe eine Anregung.&#8239;/&#8239;Ich habe immer noch Fragen.</h3>
                <p>Teile uns gerne das Problem oder Deine Anregungen und Fragen <a href="https://marktplatz.dib.de/c/weiter-entwicklung-plenum-marktplatz">in dieser Support-Kategorie auf dem Marktplatz der Ideen</a> mit. Bitte beachte: Du musst auf dem Marktplatz angemeldet sein, um diese Kategorie aufrufen zu können.</p>
                <h3>Ich bin Programmierer*in oder Grafikdesigner*in und finde Euer Projekt cool. Kann ich Euch unterstützen?</h3>
                <p>Ja, unbedingt! Schreib uns <a href="https://marktplatz.dib.de/groups/Team_Tech_Plenum">auf dem Marktplatz der Ideen</a>. Du kannst Dir auch den <a href="https://github.com/DemokratieInBewegung/abstimmungstool">Code direkt auf GitHub anschauen</a> und unsere Tickets in <a href="https://github.com/DemokratieInBewegung/abstimmungstool/projects/3">diesem Kanban-Board</a> verfolgen.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
