{% extends 'in_box.html' %}

{% block body %}
 
<h1>Zeit etwas zu #bewegen</h1>
<h2>Initiativen einbringen und darüber abstimmen!</h2>
 
<p><a href="https://bewegung.jetzt">DEMOKRATIE IN BEWEGUNG</a> ist eine Partei wie keine andere. Bei uns kann jede/r Initiativen einbringen, diskutieren und abstimmen. Wir nennen Menschen, die sich an diesem Prozess beteiligen "Beweger/innen". Als Beweger/in kannst Du das Parteiprogramm und die inhaltliche Ausrichung im Rahmen unserer Werte mitbestimmen, auch wenn Du nicht Parteimitglied bist. Die Einbringung und Abstimmung über Initiativen erfolgt online über unsere Abstimmungsplattform.
</p>

<a class="btn btn-large btn-primary" href="">Jetzt registrieren</a>
 
 
{% endblock %}