{% extends 'site_base.html' %}

{% block body %}
<div class="container-fluid">
	<div class="container">
	    <div class="row">
	        <div class="col">
				<h2>Zeit etwas zu #bewegen</h2>
				<h3>Initiativen einbringen und darüber abstimmen!</h3>
				 
				<p><a href="https://bewegung.jetzt">DEMOKRATIE IN BEWEGUNG</a> ist eine Partei wie keine andere. Bei uns kann jede*r Initiativen einbringen, diskutieren und abstimmen. Wir nennen Menschen, die sich an diesem Prozess beteiligen, "Beweger*innen". Als Beweger*in kannst Du das Parteiprogramm und die inhaltliche Ausrichtung im Rahmen unserer Werte mitbestimmen, auch wenn Du nicht Parteimitglied bist. Die Einbringung und Abstimmung über Initiativen erfolgt online über unsere Abstimmungsplattform.
				</p>

				<a class="btn btn-outline-primary" href="https://bewegung.jetzt/bewegerin-werden/">Jetzt registrieren</a>
 			</div>
 		</div>
 	</div>
</div>
{% endblock %}
