{% extends 'in_box.html' %}

{% block body %}
<h1>Über die Abstimmungsplatform</h1>

<h2>Quorum</h2>

<p>Laut Abstimmungsordnung für Initiativen wird das Quorum jeweils am 1. des Monats auf Basis der angemeldeten Beweger/innen bestimmt. Das jeweils neueste Quorum gilt.</p>

<ul>
	{% for q in quorums %}
		<li>ab {{q.created_at|date}}: {{q.quorum}}</li>
	{% endfor %}
</ul>

<h2>Impressum</h2>

<p>Dieses Tool wird betrieben von DEMOKRATIE IN BEWEGUNG. <a href="https://bewegung.jetzt/impressum/">Das Impressum ist hier zu finden</a>.</p>

<!-- <h2>Lizens</h2>

<p>Die Initiator/innen haben vollumfängliches Urheberrecht an Ihren Initiativen</p> -->

<h2>Software</h2>

<p>Dies ist eine selbst geschriebe Software auf Basis von Python/Django und Postgres. Die Software ist OpenSource und lizensiert unter der AGPL 3.0. <a href="https://github.com/DemokratieInBewegung/abstimmungstool">Der Source Code ist auf Github veröffentlicht</a>. </p>

{% endblock %}