pip-selfcheck.json
**/*.iml
.idea/

.project
.pydevproject
.settings/

bin:
activate
activate.csh
activate.fish
activate_this.py
easy_install
easy_install-3.6
pip
pip3
pip3.6
python
python3
python3.6
python-config
wheel

include:
python3.6m

lib:
python3.6
bin
db.sqlite3
*.pyc
__pycache__
data/
public
*.orig
/.Python
/include
/lib

# tmp files
*~
*#

# Windows stuff
tcl/
LICENSE.txt
pyvenv.cfg
scripts/activate.bat
scripts/activate.ps1
scripts/activate.xsh
scripts/deactivate.bat
scripts/django-admin.exe
scripts/django-admin.py
scripts/easy_install.exe
scripts/easy_install-3.7.exe
scripts/gunicorn.exe
scripts/gunicorn_paster.exe
scripts/html2text.exe
scripts/markdown2.py
scripts/pip.exe
scripts/pip3.7.exe
scripts/pip3.exe
scripts/python.exe
scripts/pythonw.exe
scripts/python3.dll
scripts/python37.dll
scripts/sqlformat.exe
scripts/wheel.exe
scripts/chardetect.exe
scripts/markdown2
scripts/pip-3.7.exe
scripts/publish.exe
scripts/pydoc.bat
scripts/run_testserver.exe
scripts/update_rst_readme.exe
scripts/wheel-3.7.exe
scripts/wheel3.7.exe
scripts/wheel3.exe
