dist: trusty
services:
  - docker
addons:
  ssh_known_hosts: 'abstimmen.bewegung.jetzt'

script:
  - docker build .

before_deploy:
- openssl aes-256-cbc -K $encrypted_5ba0802f0861_key -iv $encrypted_5ba0802f0861_iv
  -in scripts/deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa

deploy:
- provider: script
  script: ssh root@abstimmen.bewegung.jetzt "cd ~/voty-beta && git fetch && git checkout $TRAVIS_BRANCH && git pull && bash scripts/deploy.sh"
  on:
    branch: deploy
    condition: "$TRAVIS_PULL_REQUEST = false"
- provider: script
  script: ssh root@abstimmen.bewegung.jetzt "cd ~/abstimmungstool && git fetch && git checkout $TRAVIS_BRANCH && git pull && bash scripts/deploy.sh"
  on:
    branch: master
    condition: "$TRAVIS_PULL_REQUEST = false"
