appdirs==1.4.3
Brlapi==0.6.5
chardet==2.3.0
cupshelpers==1.0
Cython==0.25.2
gufw==17.4.1
isc==2.0
louis==3.0.0
packaging==16.8
pycups==1.9.73
pycurl==7.43.0
pygobject==3.22.0
pyparsing==2.1.10
pysmbc==1.0.15.6
pyxdg==0.25
requests==2.13.0
simplejson==3.10.0
six==1.10.0
team==1.0
termcolor==1.1.0
urllib3==1.20
virtualenv==15.1.0
