{% load guard %}
{% load mathfilters %}
{% load fullurl %}
{% load markdown %}
<div id="init-card-{{solution.id}}" class="card solution-card">
	<div class="card-header">
		<div class="container-fluid">
			 <div class="row no-gutters">
			 	<div class="col align-self-center">
			 		<div class="d-flex flex-wrap">
						<div class="flex-item mr-auto">
							{% if perms.initproc.add_review %}{{ solution.id }}{% endif %} 
							<span class="text-muted align-middle">
							
								{% if solution.status == 'r' %}
								<span class="badge badge-rejected">
									Durch Prüfungsteam abgelehnt
								</span>
								{% else %}
                                    {% if solution.issue.status == 'i' %}
                                    <span class="badge badge-arrivals">
                                        In Prüfung
                                    </span>
                                    {% else %}
                                        {% if solution.is_commentable %}
                                        <span class="badge badge-discussion">
                                            In Diskussion
                                            {% if solution.status == 'd' %}
                                                {% if perms.initproc.add_review %}
                                                    {% if request.guard.can_moderate %}
                                                    + In Prüfung
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        {% else %}
                                            {% if solution.issue.status == 'v' %}
                                            <span class="badge badge-arrivals">
                                                In Abstimmung
                                            </span>
                                            {% elif solution.issue.status == 'p' %}
                                            <span class="badge badge-prepare">
                                                In Vorbereitung
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
								{% endif %}
								{% if solution.issue.end_of_current_phase %}Noch {{solution.issue.end_of_current_phase | timeuntil}}{% endif %}
							</span>
						</div>
						{% if user.is_authenticated %}
                        {% if perms.initproc.add_review %}
						{% if solution.issue.status == 'i' or solution.issue.status == 'd' or solution.issue.status == 'm' %}
						{% if solution.status == 'd' %}
						<div class="flex-item">
							<div class="participation-indicator">
							{% guard should_moderate_solution solution %}
							{% if should_moderate_solution %}
								<i class="material-icons check-circle fg-inactive" data-toggle="tooltip" title="Du musst noch bewerten">check_circle</i>
							{% else %}
							    {% guard has_reviewed_solution solution %}
                                {% if has_reviewed_solution %}
                                    <i class="material-icons check-circle fg-support" data-toggle="tooltip" title="Du hast bereits moderiert">check_circle</i>
                                {% else %}
                                    <i class="material-icons fg-inactive" data-toggle="tooltip" title="Du kannst/darfst (derzeit) nicht moderieren">panorama_fish_eye</i>
                                {% endif %}
							{% endif %}
							</div>
						</div>
						{% endif %}
						{% endif %}
						{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
    	<h4 class="card-title init-title">
    		<a href="{% fullurl 'solution_item' solution_id=solution.id slug=solution.slug %}">
				{{solution.title}}
			</a>
		</h4>
		<div class="card-text">
			{{solution.description | markdown}}
		</div>
		<div class="card-text">
			Budget: {{solution.budget}} EUR
		</div>
		<a href="{% fullurl 'solution_item' solution_id=solution.id slug=solution.slug %}" class="go-to-initiative"><i class="material-icons chevron-right">chevron_right</i>Öffnen</a>
  	</div>
</div>