{% load i18n %}
<div id="moderation" class="moderation alert alert-warning">
  <strong>{% trans "Moderation Reviews" %}</strong>
	<div id="moderation-list">
    {% include 'fragments/moderation/list_small.html' with moderations=initiative.current_moderations %}
	</div>

	{% if request.guard.should_moderate_initiative %}
		<br/>
		<div id="moderation-new">
			<a data-ajax=True href="/initiative/{{initiative.id}}/new_moderation?fragment=%23moderation-new" class="btn btn-outline-primary">{% trans "Add Moderation Review" %}</a>
		</div>
	{% endif %}

	{% if initiative.stale_moderations.count %}
		<br>
		<hr>
		<br>
		<strong>{% trans "Moderation of previous Versions" %}</strong>
	    {% include 'fragments/moderation/list_small.html' with moderations=initiative.stale_moderations %}
	{% endif %}
</div>
