<div id="{{m.unique_id}}" class="moderation-item">
{% if full %}
	{% include "fragments/avatar.html" with size=50 user=m.user badgex=m.vote %}
{% else %}
	{% include "fragments/avatar.html" with size=35 user=m.user badgex=m.vote %}
{% endif %}
--{% if m.vote == 'y' %}<span class="badge badge-success"><i class="material-icons">thumb_up</i></span>{% elif m.vote == 'n' %}<span class="badge badge-danger"><i class="material-icons">thumb_down</i></span>{% else %}<span class="badge badge-default"><i class="material-icons">thumbs_updown</i></span>{% endif %}
{% if full %}
{{m.created_at|timesince}}
<p>
{% load markdown %}
{{m.text|markdown}}
-- {{m.user.get_full_name|default:m.user.username}}
</p>
<div id="{{m.unique_id}}-comment-list">
    {% for comment in comments %}
    	{% include 'fragments/comment/item.html' %}
    {% endfor %}
</div>
<div id="{{m.unique_id}}-new-comment">
    <a data-ajax="true" href="/comment/{{m.type}}/{{m.id}}?fragment=%23{{m.unique_id}}-new-comment" class="btn btn-small btn-outline-primary">Kommentieren</a>
</div>
{% else %}
	{% if m.text %}
		<a data-ajax="true" href="/{{initiative.einordnung}}/{{initiative.id}}/moderation/{{m.id}}?fragment=%23{{m.unique_id}}"><i class="material-icons">comment</i></a>
	{% endif %}
{% endif %}
</div>
