{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'magic-search.css' %}" />
{% verbatim %} 
<div id="magic-search" class="container">
	<search-bar v-bind:search-options="searchOptions" v-on:blur="blur" v-bind:filters="filters" inline-template>
		<div class="row no-gutters align-items-center">
			<div class="col-auto">
			   	<span class="badge"
			   		v-for="(f, index) in filters"
			   		>
			   	{{f.name}}: {{f.label}}
			   		<span class="material-icons" v-on:click="filters.splice(index, 1)">clear</span>
			   	</span>
			</div>
			<div class="col dropdown show">
				<span v-bind:class="searchCls" style="width: 100%; min-width: 100px">
					<template v-if="selected">{{selected.name}}:</template>
	   				<input v-bind:placeholder="placeholder"
	   				   ref="textInput"
	   				   @keyup.enter="add"
	   				   @keyup.right="add"
	   				   @focus="focus"
	   				   @keyup.esc="clear"
	   				   @keyup.up="up"
	   				   @keyup.down="down"
	   				   style="width: 100%;" v-model="curText">
	   			</span>

				<dropdown v-if="showList" v-bind:options="options" v-on:select="select" inline-template>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<template v-for="(opt, idx) in options">
							<dropdown-item v-bind:title="opt.name" v-bind:selected="idx == this.selectedIdx" v-on:select="$emit('select', opt)" inline-template>
					    		<button @click="$emit('select')" v-bind:class="itemClass">{{title}}</button>
							</dropdown-item>
						</template>
					</div>
				</dropdown>
	   		</div>
		</div>
	</search-bar>
</div>

{% endverbatim %}