{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'magic-search.css' %}" />
{% verbatim %} 
<div id="magic-search" class="container">
	<search-bar v-bind:search-options="searchOptions" v-on:blur="blur" v-bind:filters="filters" inline-template>
		<div class="row no-gutters align-items-center">
			<div class="col-auto">
			   	<span class="badge"
			   		v-for="(f, index) in filters"
			   		>
			   	{{f.name}}: {{f.value}}
			   		<span class="material-icons" v-on:click="filters.splice(index, 1)">clear</span>
			   	</span>
			</div>
			<div class="col dropdown show">
				<span v-bind:class="searchCls" style="max-width: 100%; min-width: 100px">
					<template v-if="selected">{{selected.name}}:</template>
	   				<input v-bind:placeholder="placeholder"
	   				   ref="textInput"
	   				   v-on:keyup.enter="add"
	   				   v-on:focus="focus"
	   				   style="max-width: 100%; min-width: 100px" v-model="curText">
	   			</span>

				<dropdown v-if="showList" v-bind:options="options" v-on:select="select" v-bind:has-free-text="hasFreeText" inline-template>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <button v-for="(opt, idx) in options" v-on:click="$emit('select', opt)" class="dropdown-item">{{opt.name}}</button>
					    <template v-if="hasFreeText">
					    	<div v-if="options.length" class="dropdown-divider"></div>
					    	<a class="dropdown-item">Freie Suche</a>
					    </template>
					</div>
				</dropdown>
	   		</div>
		</div>
	</search-bar>
</div>

{% endverbatim %}