
<div class="container-fluid meta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6 class="text-muted classification">Veröffentlicht am</h6>
                <div>
                {% if initiative.went_public_at %}
                    {{initiative.went_public_at}}
                {% else %}
                    Noch nicht veröffentlicht
                {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <h6 class="text-muted classification">Bereich</h6>
                <div>
                    {{initiative.bereich}}
                </div>
            </div>
        </div>
        {% if not initiative.is_policychange %}
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6 class="text-muted classification">Einordnung</h6>
                <div>
                    {{initiative.einordnung}}
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <h6 class="text-muted classification">Ebene</h6>
                <div>
                    {{initiative.ebene}}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>