
<div class="container-fluid tags">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-muted classification">Schlagworte</h6>
            </div>
        </div>
        <div class="row">
            <div class="tag-list">
                {% for tag in initiative.all_tags %}
                <div class="tag">
                   {{ tag }}
                </div>
                {% endfor %}
                {% if request.guard.can_edit_tags %}
                <div id="add-tag">
                    <a data-ajax="true" href="/initiative/{{initiative.id}}/add_tag?fragment=%23add-tag{% for tag in initiative.all_tags %}&tag={{tag.id}}{% endfor %}" class="btn btn-success">Schlagworte ändern</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
