
<div class="container-fluid meta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6 class="text-muted classification">Gegründet am</h6>
                <div>
                    {{team.created_at}}
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <h6 class="text-muted classification">Stimmen</h6>
                <div>
                    0
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6 class="text-muted classification">Abstimmungen</h6>
                <div>
                    0 / 0
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <h6 class="text-muted classification">Initiativen</h6>
                <div>
                    0
                </div>
            </div>
        </div>
    </div>
</div>