{% load i18n %}
{% if initiative.all_variants %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>{% trans "The following " %}{% if initiative.all_variants|length > 1 %}{% trans "variants" %}{% else %}{% trans "variant" %}{% endif %}{% trans "were also submitted" %}</h3>
                </div>
            </div>
            <div>
                {% for initiative in initiative.all_variants %}
                    {% include "fragments/initiative/card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
