{% if initiative.all_variants %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Es wurden auch folgende Variante{% if initiative.all_variants|length > 1 %}n{% endif %} eingebracht</h3>
                </div>
            </div>
            <div>
                {% for initiative in initiative.all_variants %}
                    {% include "fragments/initiative/card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}