{% load bootstrap %}

<div>
<form id="js-new-argument" method="POST" {%if ajax%}data-ajax-submit="true"{%endif%} action="{{request.path}}{% if fragment %}?fragment={{fragment|urlencode}}{% endif %}">


<div class="row no-gutters">
	<div class="offset-md-2 col-10 col-sm-12">
		{% if request.GET.type == "👍"%}
			<h4>Neues Pro-Argument hinzufügen</h4>
		{% else %}
			<h4>Neues Kontra-Argument hinzufügen</h4>
		{% endif %}
	</div>
</div>

<div class="row no-gutters">
	<div class="col-2 text-center hidden-sm-down">
		{% if request.GET.type == "👍"%}
			<i class="material-icons">thumb_up</i> PRO
		{% else %}
			<i class="material-icons">thumb_down</i> KONTRA
		{% endif %}
	</div>
	<div class="col-12 col-md-10">
		
	    {% csrf_token %}
		{{form|bootstrap}}
		<div class="text-right">
			<button type="submit" class="btn {{submit_klasses}}">Veröffentlichen</button>
		</div>
	</div>
</div>

</form>
{{form.media}}
<script type="text/javascript">
	setup_char_counter('#js-new-argument ');
</script>
</div>