{% load avatar_tags %}
{% load markdown %}
<div id="{{argument.unique_id}}" class="argument container argument-{{argument.type}}">
	<div class="row">
		<div class="col-2 text-center">
			<i class="argument-type-icon material-icons">{{argument.icon}}</i> <br/> {{argument.type|upper}}
	    </div>
	    <div class="col-10">
		    {% if argument.title%}{{argument.title}}{% else %}{{argument.text|markdown}}{% endif %}
		</div>
	</div>
	<div class="row">
    	<div class="col-2">
    	</div>

    	<div class="col-10">
			<a data-ajax="true" href="/initiative/{{argument.initiative.id}}/{{argument.type}}/{{argument.id}}?fragment={{argument.unique_id}}">
	
			    <div class="row argument-meta">
					<div class="col-8">
						Mehr anzeigen
					</div>
					<div class="col-4 text-right">
			    		{% include 'fragments/like.html' with has_liked=argument.has_liked target=argument show_text=0 show_count=1 with_link=0 %}
			    		<i class="material-icons">chat_bubble_outline</i> {{argument.comments.count}}<br />
					</div>
				</div>	
			</a>
		</div>
    </div>
	
</div>