<div id="{{argument.unique_id}}" class="argument container-fluid argument-{{argument.type}}">
    <div class="row no-gutters">
    	{% if argument.icon %}
			<div class="col-2 text-center">
				<i class="argument-type-icon material-icons">{{argument.icon}}</i> <br /> {% if argument.type == 'contra' %}KONTRA{% elif argument.type == "pro"%}PRO{% endif %}
		    </div>
	        <div class="col-10 align-self-center short">
        {% else %}
        	<div class="col-12 align-self-center short">
        {% endif %}

		    {{argument.title}}
		</div>
	</div>
    <div class="row no-gutters">
	    	{% if argument.icon %}
	    		<div class="col col-md-10 offset-md-2">
	        {% else %}
	    		<div class="col col-md-12">
	    	{% endif %}
			<a data-ajax="true" href="/initiative/{{argument.initiative.id}}/{{argument.type}}/{{argument.id}}?fragment={{argument.unique_id}}&full=1">
                <div class="row no-gutters argument-meta">
                    <div class="col-auto">
						Mehr anzeigen
					</div>
                    <div class="col-auto ml-auto stats">
			    		{% include 'fragments/like.html' with author=argument.user has_liked=argument.has_liked target=argument show_text=0 show_count=1 with_link=0 %}
                        <i class="material-icons">chat_bubble_outline</i> {{argument.comments.count}}
                        <br />
                    </div>
					</div>
			</a>
		</div>
    </div>
</div>