{% load avatar_tags %} 
<div id="{{argument.type}}argument-{{argument.id}}">
	<a data-ajax="true" href="/initiative/{{argument.initiative.id}}/show_{{argument.type}}argument/{{argument.id}}?fragment={{argument.type}}argument-{{argument.id}}">
	    <span class="badge badge-{{argument.css_class}}"><i class="material-icons">{{argument.icon}}</i></span> {{argument.title}}<br/>
	    <i class="material-icons">heart</i> {{argument.likes.count}}
	    <i class="material-icons">comment</i> {{argument.comments.count}}<br />
	    {% avatar argument.user %} {{argument.created_at|timesince}}
    </a>
</div>