body {
  background: rgba(255, 255, 255, 1);
  font-family: 'Rubik', sans-serif;
  color: rgba(55, 58, 60, 1);
  /*background-image: linear-gradient(90deg, #21466b, #62388E, #eb5c4a);*/
}

/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/static/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/static/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/static/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1.5rem;
  width: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* custom elements */

[data-text-after]:after  {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
  content: attr(data-text-after);
}

.container-fluid.dib-nav {
  background: linear-gradient(to right, #21466b 0%,#263d82 30%,#263d82 30%,#eb5c4a 100%);
  padding: 0.375rem 0 0 0;
}

.navbar .navbar-toggler-icon {
    background-image: url(/static/img/burger.svg);
}

.navbar.navbar-inverse {
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*background: linear-gradient(to right, #21466b 0%,#263d82 30%,#263d82 30%,#eb5c4a 100%);*/
  /*background: linear-gradient(90deg, #21466b, #62388E, #eb5c4a);*/
}

/*.navbar-brand {
  background: linear-gradient(to right, #263d82 0%,#263d82 30%,#263d82 30%,#eb5c4a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}*/

.navbar {
 background-color: rgba(255, 255, 255, 1);
 padding-top: 0.75rem;
 padding-bottom: 0.75rem;
 /*border-top: 0;
 border-right: 0;
 border-left: 0;
 border-bottom: 0.125rem;
 border-style: solid;
 border-color: rgba(223, 223, 223, 1);*/
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

nav .notifications.dropdown-menu {
 padding: 1rem;
}

nav .notifications.dropdown-menu li {
  color: rgba(55, 58, 60, 1);
}

nav .notifications.dropdown-menu ul {
  list-style: none;
  padding-left: 0;
}

nav .dropdown-menu {
  margin-top: 0.75rem;
  border: 0;
  border-radius: 0;
  background-color: rgba(240, 240, 240, 1);
}

.navbar-toggler {
  border: 0;
  padding: 0.25rem 0rem 0.25rem 0.75rem;
}

nav .dropdown-menu .dropdown-item {
  color: rgba(37, 60, 135, 1);
  text-transform: uppercase;
}
/*nav.navbar-inverse .dropdown-menu .dropdown-item:focus, nav.navbar-inverse .dropdown-menu .dropdown-item:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.15);
}*/

/*.navbar-inverse .dropdown-divider {
  background-color: rgba(0, 0, 0, 0.15);
}*/

.nav-link {
  text-transform: uppercase;
}

.nav-link.avatar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link .material-icons.chevron-right {
  width: 1.5rem;
  margin-top: -0.0625rem;
}

.nav-link .material-icons.person {
  width: 1.75rem;
  margin-top: -0.125rem;
}

.material-icons.add-circle-outline {
  padding-right: 0.25rem;
}

.material-icons.notifications {
  padding-right: 0.0625rem;
}

.material-icons.expand-more {
    margin-right: 0.625rem;
    margin-top: .1875rem;
    border: 1px solid;
    font-size: 1.5rem;
    border-radius: 50%;
    line-height: 1.5rem;
    width: 1.625rem;
}

.material-icons.chevron-right, .material-icons.chevron-left, .material-icons.filter-list, .material-icons.notifications, .material-icons.add-circle-outline {
  width: 1.625rem;
}

.row.skip-meta {
  padding-top: 2rem;
}

a.go-to-index {
  padding-top: 1rem;
  display: block;
}

a.skip-meta {
  font-size: 1.25rem;
  line-height: 2rem;
}

blockquote p {
  margin-bottom: 0;
}

p.card-text {
  line-height: 1.75rem;
}

.initiative-text {
  padding-top: .5rem;
}

.initiative-text li,
.initiative-text p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.initiative-text > .col, .initiative-subtitle > .col, .initiative-title > .col {
  overflow: hidden;
}

.initiative-text .classification {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.main {
  /*background: white;
  padding: 1em;
  border-radius: 5px;*/
  overflow: hidden;
}

.container-fluid.notice {
  padding-top: 1rem;
  padding-bottom: 1rem;
background: rgba(227,82,66,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(227,82,66,1) 0%, rgba(201,40,28,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(227,82,66,1)), color-stop(100%, rgba(201,40,28,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(227,82,66,1) 0%, rgba(201,40,28,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(227,82,66,1) 0%, rgba(201,40,28,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(227,82,66,1) 0%, rgba(201,40,28,1) 100%);
background: radial-gradient(ellipse at center, rgba(227,82,66,1) 0%, rgba(201,40,28,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e35242', endColorstr='#c9281c', GradientType=1 );
}

.notice p {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 1);
}

.notice h4 {
  color: rgba(255, 255, 255, 1);
  line-height: 2rem;
}

.notice a {
  font-size: 1.125rem;
}

.notice a.btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.notice a.btn:focus {
  box-shadow: none;
}

.notice em {
  color: rgba(201,40,28,1);
  background-color: rgba(255, 255, 255, 1);
  padding: 0 .3785rem;
  border-radius: .25rem;
  font-style: normal;
  white-space:nowrap;
}

em {
  font-style: italic;
}

.container-fluid {
  padding: 0 1rem 0 1rem;
  width: 100%;
}

.container-fluid.push-alert {
  padding: 0;
}

.container-fluid.push-alert .alert {
  border-radius: 0;
  margin-bottom: 0;
}

.init-index .card {
  margin: 1rem 0 3rem 0;
}

#filters {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem 1rem;
}

.card {
  border-radius: 0;
}

.new-initiative .card, .new-initiative .card-header, .new-initiative .card-footer {
  border: 0;
}

.new-initiative {
  padding-top: 1rem;
}

/*.card-header:first-child {
    border-radius: 0;
}

.card-footer:last-child {
    border-radius: 0;
}*/

.card-header {
  padding: 0.5rem 1rem;
}

.card-header .flex-item {
  padding: .25rem .25rem;
}

.card-header, .card-footer {
  background-color: rgba(255, 255, 255, 1);
}

.card-header .badge {
  margin-right: .5rem;
}

.card-header .col.text-right {
  line-height: 125%;
}

.card-header .container-fluid, .card-footer .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.avatar img {
  border-radius: 50%;
}

img.avatar {
  border-radius: 50%;
}

.initiative-single {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 1);
}

.initiative-state {
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.initiative-state p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: .75rem;
}

.initiative-state .badge {
  margin-right: .5rem;
}

.initiative-state .publish {
  display: block;
}

.initiative-state .publish span, .initiative-state .edit span, .initiative-state .submit span {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

#invite-supporters {
  padding-top: 1rem;
}

#invite-supporters a.btn span {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.material-icons.edit, .material-icons.public, .material-icons.person-add, .material-icons.thumbs-up-down {
  padding-top: .125rem;
  padding-right: .3875rem;
}

.material-icons.thumbs-up-down{
  padding-right: .625rem;
}

.card.initiative-meta {
  border-radius: 0;
  margin-bottom: 1rem;
}

.initiative-subtitle p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.display-4 {
  font-size: 2.75rem;
  padding-top: 3rem;
  line-height: 3.25rem;
  padding-bottom: 2rem;
}

.initiative-meta h6.text-muted {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.75rem;
}

.initiative-meta li {
  padding: 1rem 1rem 0.75rem 1rem;
}

.initiative-meta .meta-content {
  font-size: 1rem;
  line-height: 1.5rem;
}

.initiative-meta .row {
  margin: 0;
}

.classification {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.meta {
  padding-top: 0.75rem;
  padding-bottom: 2rem;
}

.meta .row > div {
  padding-top: 1.25rem;
}

.initiative-state .alert {
  margin-bottom: 1rem;
}

.initiative-state .alert ol {
  margin-bottom: 0;
}

.initiative-state button {
  margin-bottom: 1rem;
  margin-right: .25rem;
}

.initiators {
  margin-top: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.initiator {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.initiator div.name {
  padding-top: 0.75rem;
  width: 8rem;
  font-size: 0.875rem;
  display: block;
}

.approval {
  padding-top: .75rem;
}

.approval strong {
  font-size: 0.875rem;
}

.approval .material-icons.warning, .approval .material-icons.done {
  padding: 0.5rem 1rem;
  background: #ccc;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: auto;
}

.show-supporters {
  padding-bottom: 2rem;
}

.btn > .material-icons.thumbs-up-down {
  width: 2.25rem;
}

.btn > .material-icons.edit {
  width: 2rem;
}

.btn > .material-icons.public {
  width: 2rem;
}

.btn > .material-icons.person-add {
  width: 2rem;
}

.cta {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.cta .meta-content {
  padding-bottom: 0.75rem;
  display: block;
}

.cta .current-supporters {
  padding-top: 0.5rem;
}

.cta .support-needed {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.cta .progress {
  margin-bottom: 0.25rem;
}

.cta label.form-check-label {
  margin-top: 0.5rem;
}

.cta div.form-check {
  margin-bottom: 0;
}

.cta .meta-content.supported-by {
  padding-bottom: 0;
}

.cta-full label.form-check-label {
  margin-top: 0.5rem;
}

.cta-full .supported-by {
  margin-top: 0.5rem;
}

.cta-full {
  margin-bottom: 1rem;
}

.cta-full .cta-button span.support {
  display: block;
  padding-top: 0.75rem;
  padding-right: 1rem;
}

.cta-full .cta-button {
  padding-right: 1rem;
}

strong {
  font-weight: 500;
}

.text-muted.full {
  display: block;
  padding-bottom: 0.75rem;
}

.progress-bar.full {
  height: 3.125rem;
}

/*@media (min-width: 768px) and (max-width: 1199px) {
  .initiative-single > .container {
    width: 100%;
  }
}*/

/*@media (min-width: 576px) and (max-width: 1199px) {
  .initiative-single > .container {
    width: 100%;
  }
}*/
/* Odd webkit button and Input on focus rendering */

button:focus, input:focus {
  outline: none;
}

.blockquote {
  font-size: 1rem;
  line-height: 1.75rem;
}

footer {
  margin: 0.5em 0;
  text-align: right;
}

footer a {
  color: white;
}

footer a:hover {
  color: #336699;
}

a {
  color: rgba(37, 60, 135, 1);
}

a:hover, a:focus, a:visited {
  color: rgba(37, 60, 135, 1);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

h6 {
  font-weight: 500;
}

h6.classification {
  font-weight: 400;
}

#filters h6 {
  font-weight: 400;
  line-height: 150%;
  margin: 0.5rem 0.5rem 0 0;
}

.help p, .help ul, .help ol {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.help .btn {
  margin: 0 0 1rem 0;
}

.alert h6 {
  line-height: 1.25rem;
}

header .alert {
  border-radius: 0;
  margin-bottom: 0;
}

.init-index-header .display-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.typefilter {
  display: flex;
}

.typefilter .container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.typefilter label {
  margin: 0.25rem 0.5rem 0.25rem 0;
  cursor: pointer;
  float: left;
}

.typefilter input {
  display: none;
}

.badge {
  font-weight: normal;
  padding: 0.375rem 0.5rem;
  border-radius: 0.125rem;
  border-width: 1px;
  border-style: solid;
  /*background: transparent;*/
}

.list-background {
  background: #E7EBEF;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter-phases .check-box, .filter-phases .check-box-outline-blank {
  font-size: 1.125rem;
  padding-right: .25rem;
  line-height: 1.125rem;
}

.filter-phases {
  padding-bottom: 1rem;
}

.filter-list {
  padding-bottom: 1rem;
}

.filter-participation .check-box, .filter-participation .check-box-outline-blank {
  width: 1.5rem;
  margin-right: .25rem;
  overflow: hidden;
}

.typefilter .badge {
  background: transparent;
  background: inherit;
  line-height: 1.125rem;
}

.typefilter input + .badge {
  background: transparent;
}

.typefilter input + .badge > .check-box {
  display: none;
}

.typefilter input:checked + .badge > .check-box {
  display: initial;
}

.typefilter input:checked + .badge > .check-box-outline-blank {
  display: none;
}

.typefilter input + .badge > .check-box-outline-blank {
  display: initial;
}

.typefilter input:checked + .badge {
  color: rgba(255, 255, 255, 1);
}

.bg-support, .bg-support:hover, .bg-support:focus, .bg-support:visited{
  color: rgba(255, 255, 255, 1);
  background-color: #F0AD4E;
  border-color: #F0AD4E;
}

.fg-support, .fg-support:hover, .fg-support:focus, .fg-support:visited{
  color: #F0AD4E;
}

.bg-discussion, .bg-discussion:hover, .bg-discussion:focus, .bg-discussion:visited {
  color: rgba(255, 255, 255, 1);
  background-color: #01549B;
  border-color: #01549B;
}

.bg-vote, .bg-vote:hover, .bg-vote:focus, .bg-vote:visited {
  color: rgba(255, 255, 255, 1);
  background-color: #AB4778;
  border-color: #AB4778;
}

.bg-vote:hover {
  background-color: #AE2568;
}

.fg-vote, .fg-vote:focus, .fg-vote:visited {
  color: #AB4778;
}

.fg-vote:hover {
  color: #AE2568;
}

.bg-voted, .bg-voted:hover, .bg-voted:focus, .bg-voted:visited {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(100, 100, 100, 1);
  border-color: rgba(100, 100, 100, 1);
}

.bg-abstain, .bg-abstain:hover, .bg-abstain:focus, .bg-abstain:visited {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(100, 100, 100, 1);
  border-color: rgba(100, 100, 100, 1);
}

.fg-abstain, .fg-abstain:hover, .fg-abstain:focus, .fg-abstain:visited {
  color: rgba(100, 100, 100, 1);
}

.fg-inactive, .fg-inactive:hover, .fg-inactive:focus, .fg-inactive:visited {
  color: #CFD0D2;
}

.support {
  color: #EB9316;
}

/* Badge Color: Preparation */

.badge-prepare {
  color: #636c72;
  border-color: #636c72;
}

.typefilter input:checked + .badge-prepare {
  background-color: #636c72;
}

/* Badge Color: New Arrivals */

.badge-arrivals {
  color: #EB5C4A;
  border-color: #EB5C4A;
}

.typefilter input:checked + .badge-arrivals {
  background-color: #EB5C4A;
}

/* Badge Color: Seeking Support */

.badge-support {
  color: #EB9316;
  border-color: #EB9316;
}

.typefilter input:checked + .badge-support {
  background-color: #EC971F;
}

/* Badge Color: In Discussion */

.badge-discussion {
  color: #01549B;
  border-color: #01549B;
}

.typefilter input:checked + .badge-discussion {
  background-color: #025AA5;
}

/* Badge Color: Final Edits */

.badge-edits {
  color: #2AABD2;
  border-color: #2AABD2;
}

.typefilter input:checked + .badge-edits {
  background-color: #31B0D5;
}

/* Badge Color: Is Being Voted On */

.badge-vote {
  color: #AE2568;
  border-color: #AE2568;
}

.typefilter input:checked + .badge-vote {
  background-color: #AE2568;
}

/* Badge Color: Was Accepted */

.badge-accepted {
  color: #47AB64;
  border-color: #47AB64;
}

.typefilter input:checked + .badge-accepted {
  background-color: #47AB64;
}

/* Badge Color: Was Rejected */

.badge-rejected {
  color: #D9534F;
  border-color: #D9534F;
}

.typefilter input:checked + .badge-rejected {
  background-color: #D9534F;
}

.profiles {
  list-style: none;
  display: flex;
  padding: 0;
}

.profiles img {
  border-radius: 100%;
  border: 2px solid #eee;
  margin: 0.5em;
}

/* prettier labels */

.label {
  background-color: white;
  border: 1px solid #333;
  color: #333;
}

label.deactivated {
  opacity: 0.5;
}

.label-default {
  border-color: #999;
  color: #999;
}

.label-primary {
  border-color: #eb6864;
  color: #eb6864;
}

.label-info {
  border-color: #336699;
  color: #336699;
}

.label-danger {
  border-color: #f57a00;
  color: #f57a00;
}

.label-success {
  border-color: #22b24c;
  color: #22b24c;
}

.participation-indicator {
  padding: .25rem .25rem;
  display: inline;
  cursor: help;
}

.participation-indicator .thumb-up {
  color: #47AB64;
  margin-top: -.125rem;
}

.participation-indicator .thumb-down {
  color: #D9534F;
}

.participation-indicator .abstain {
  color: rgba(55, 58, 60, 1);
}

#init-list.hide-supported .supported {
  display: none;
}

#init-list.hide-voted .voted {
  display: none;
}

#filter-supported {
  cursor: pointer;
  margin-bottom: .25rem;
}

#filter-voted {
  cursor: pointer;
}

.classification .change-history {
  text-transform: none;
  letter-spacing: normal;
}

.classification .change-history .history {
  font-size: .875rem;
  line-height: .875rem;
  width: .875rem;
}

.changes-badge {
  background: #f1f1f1;
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: 10%;
  margin-right: .0625rem;
}

.history-title {
  font-size: 1em;
  color: #999;
  position: relative;
  background: white;
  display: inline-block;
}

.history-title:before,
.history-title:after {
  content: " ";
  border-top: 1px solid #999;
  display: inline-block;
  position: absolute;
  top: 50%;
}

.history-title:before {
  width: 95px;
  left: -100px;
}

.history-title:after {
  top: 50%;
  right: -1000px;
  width: 990px;
  z-index: 0;
}


.actionbar {
  padding: 0 1em;
  margin: 1em 0;
  display: flex;
  align-content: center;
}

.actionbar .progress {
  flex-grow: 1;
  margin-right: 1em;
  margin-bottom: 0;
}



.discourse {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.discourse > div {
  width: 49%;
}

.discourse .pro {
  padding-right: 10px;
  border-right: 1px solid #eee;
}

.discourse .contra {
  padding-left: 10px;
}

.discourse ul {
  list-style: none;
}


.hyphenate {
  hyphens: auto; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto;
}
.donthyphenate {
  hyphens: none; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none;
}

.in-box {
    margin-top: 2em;
    margin-bottom: 2em;
}


/*

Argument base design

*/
.argument {
  margin: 2rem 0;
}

.argument.container-fluid {
  padding: 1rem 0 2rem 0;
}

.argument .short {
  font-size: 1.25rem;
  line-height: 1.875rem;
  overflow: hidden; /* prevent argument content from overflowing */
}

.argument .argument-type-icon {
  font-size: 3rem;
  margin: 1rem auto;
}

.argument .argument-meta {
  margin: .5rem 0 1rem 0;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding: 0.25rem 0;
}

.argument .avatar {
  border-radius: 50%;
}

.argument .author-name {
  margin-top: 0.3em;
  display: block
}

.argument .author {
  padding-right: 1rem;
}

.argument .arg-meta {
  color: #aaa;
  font-size: 0.85em;
}

.argument h6 {
  margin-top: 1.5rem;
}

.argument .argument-head {
  margin-bottom: 1rem;
}

.argument .argument-text {
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  overflow: hidden; /* prevent argument content from overflowing */
}

.argument .argument-comment-list {
  background: rgba(255, 255, 255, 1);
}

.argument .new-comment {
  padding-top: .75rem;
}

.argument .comment {
  border-top: 1px solid #eee;
  padding: 1rem 1rem;
}

.argument .comment .comment-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.625rem;
}

.argument .comment .comment-text * {
  overflow: hidden; /* prevent comment content from overflowing */
}

.argument .comment .comment-head {
  margin: 0 0 1rem 0;
}

.argument button:disabled.new-comment {
  border: none;
  background: transparent;
  display: none;
}

#new-argument .btn .material-icons {
  display: block;
  font-size: 8rem;
  line-height: 10rem;
  padding-left: 2.25rem;
}

#new-argument form .material-icons {
  display: block;
  margin-top: 2rem;
  line-height: 3.5rem;
  font-size: 3rem;
}

#new-argument label {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: #636c72;
  margin-bottom: .125rem;
}

#new-argument h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

#new-argument.container-fluid {
  padding: 0;
}

.argument-meta .stats > span {
  padding-right: .25rem;
  padding-left: .25rem
}

/*

        VOTING

*/

#voting h3 {
  padding-top: .5rem;
}

#voting .in-favor {
  color: #47AB64;
  font-size: inherit;
}

#voting .declined {
  color: #c9302c;
  font-size: inherit;
}

#voting .abstained {
  color: rgba(55, 58, 60, 1);
  font-size: inherit;
}

#voting .btn-primary {
  background-color: #AB4778;
  border-color: #AB4778;
}

#voting .btn-primary:hover, #voting .btn-primary:active {
  background-color: #AE2568;
  border-color: #AE2568;
}

#voting .btn-primary:disabled {
  background-color: #AAAAAA;
  border-color: #AAAAAA;
}


.your-vote strong {
 display: block;
 width: 4rem;
 padding-top: .5rem;
 padding-bottom: 1rem;
}

.your-vote .in-favor .material-icons, .your-vote .declined .material-icons {
  font-size: 4rem;
  line-height: 4rem;
}

.your-vote .abstained .material-icons {
  font-size: 4rem;
  line-height: 4rem;
  width: 6rem;
}

.your-vote .abstained strong {
  width: 6rem;
}

#voting .feedback {
  padding-top: 0;
}

#voting .feedback ul{
  list-style-type: none;
  padding-left: 0;
}

#voting .feedback ul li label input {
  margin-right: .25rem;
}

#voting .no-feedback {
  margin-top: .75rem;
}

.progress.participation {
  margin-bottom: .5rem;
  margin-top: -.5rem;
}

#voting .back-to-index {
  margin-top: 1.5rem;
}

#initial_vote {
  margin-top: 2rem;
}

#initial_vote .submit-vote {
  margin-top: 3rem;
}

#initial_vote label span {
  display: block;
  font-size: 1.5rem;
  color: #aaa;
}

#initial_vote .material-icons {
  font-size: 7rem;
  line-height: 7rem;
  width: 7rem;
  color: #aaa;
  padding-bottom: .5rem;
  padding-top: 2rem;
}

#initial_vote input[type=radio] {
  display: none;
}

#initial_vote input[type=radio][value=yes]:checked + .material-icons, #initial_vote input[type=radio][value=yes]:checked + .material-icons + span {
  color: #47AB64;
}


#initial_vote input[type=radio][value=no]:checked + .material-icons, #initial_vote input[type=radio][value=no]:checked + .material-icons + span {
  color: #c9302c;
}

#initial_vote input[type=radio][value=abstain]:checked + .material-icons, #initial_vote input[type=radio][value=abstain]:checked + .material-icons + span {
  color: rgba(55, 58, 60, 1);
}

.closed {
  margin-top: 2rem;
  background: rgba(255, 255, 255, 1);
}

/*

        VOTED

*/

#cta.voted .in-favor {
  color: #47AB64;
  font-size: inherit;
}

#cta.voted .declined {
  color: #c9302c;
  font-size: inherit;
}

#cta.voted .abstention {
  color: rgba(55, 58, 60, 1);
  font-size: inherit;
}

#cta.voted .results-display > div {
  margin-right: 1.5rem;
}

/*


      MODERATION

*/

.moderation .badge {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  height: 2em;
  width: 2em;
}

.moderation-item{
  position: relative;
}

.moderation .badge .material-icons {
  font-size: 1em;
  line-height: 2em;
}


/*
green: #47AB64;
lightgreen: #82AB47;
violet: #9E47AB;
redbrown: #AB4747;
darkpink: #AB4778;
turquois: #47AB9D;
orange: #D2892B;
*/

@media (max-width: 575px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .container.init-index {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .display-4 {
    padding-top: 1.875rem;
    font-size: 2rem;
    line-height: 2.375rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
  }
  .row.skip-meta {
    padding-top: 1.5rem;
  }
  .initiative-state {
    padding-top: 1.5rem;
  }
  .initiators {
    margin-top: 1.5rem;
  }
  .initiative-text p,
  .initiative-text li {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .initiative-subtitle p, .initiative-state p, a.skip-meta {
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
  h2 {
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .typefilter .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .new-initiative {
    padding: 1rem;
  }
  .new-initiative .card, .new-initiative .card-header, .new-initiative .card-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .material-icons.expand-more {
    margin-top: .125rem;
  }
}

@media (max-width: 767px) {
  .typefilter .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  .container {
    width: auto;
    max-width: 45.75rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 45.75rem;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 45.75rem;
    max-width: 100%;
  }
}

textarea#id_title::-webkit-input-placeholder, textarea#id_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .7;
}
textarea#id_title::-moz-placeholder, textarea#id_text::-moz-placeholder { /* Firefox 19+ */
  opacity: .7;
}
textarea#id_title:-ms-input-placeholder, textarea#id_text:-ms-input-placeholder { /* IE 10+ */
  opacity: .7;
}
textarea#id_title:-moz-placeholder, textarea#id_text:-moz-placeholder { /* Firefox 18- */
  opacity: .7;
}
