#magic-search {
  border: 1px solid #aaa;
  padding: 0.125em 0.25em;
  border-radius: 2em;
}

#magic-search input {
  border: 0;
  background: transparent;
}

#magic-search .badge {
  background: transparent;
  color: #aaa;
  margin: 4px 2px;
  border-radius: 20px;
}

#magic-search .badge .title {
  font-weight: bold;
}

#magic-search .material-icons {
  font-size: 1em;
  line-height: 1em;
  display: inline;
  border: 1px solid #aaa;
  border-radius: 50%;
}