{% load notifications_tags %}
{% load static %}
{% load fullurl %}
{% load guard %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>{% block head_title%}Plenum der Beweger*innen von DEMOKRATIE IN BEWEGUNG{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription%}{% endblock %}">
    <meta name="keywords" content="{% block metakeywords%}{% endblock %}">
    <meta name="author" content="">
    {% block social_media_tags %}
        <!--  Essential META Tags -->
        <!-- https://css-tricks.com/essential-meta-tags-social-media/ -->

        {% block custom_sm_title %}
            <meta property="og:title" content="DEMOKRATIE IN BEWEGUNG - Abstimmungsplattform der Beweger*innen">
            <meta property="og:description" content="Hier stimmen die Beweger*innen über Initiativen ab, die die Partei DiB vertreten wird">
            <meta property="og:url" content="{% fullurl 'home' %}">
        {% endblock %}
        <meta property="og:image" content="{% fullstatic '/img/dib-logo-social.jpg' %}">
        <meta name="twitter:card" content="summary_large_image">

        <!--  Non-Essential, But Recommended -->

        <meta property="og:site_name" content="DEMOKRATIE IN BEWEGUNG">
        <meta name="twitter:image:alt" content="DiB Abstimmungsplattform">

    {% endblock %}
    <link href="/static/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/dib.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome icon font -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    {% block custom_head %} {% endblock %}
</head>

<body class="{% block body_class%}{% endblock%} hyphenate">
    <div class="container-fluid dib-nav">
        <nav class="navbar navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- IE 10 Fix: have the logo twice, show this on collapsed #navbarNav -->
            <a class="navbar-brand hidden-md-up" href="{% fullurl 'home' %}">
                <img src="{% static '/img/dib_logo.svg' %}" height="40" width="144" class="d-inline-block align-middle" alt="Demokratie in Bewegung">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- IE 10 Fix: have the logo twice, hide this on collapsed #navbarNav -->
                <a class="navbar-brand hidden-sm-down" href="{% fullurl 'home' %}">
                <img src="{% static '/img/dib_logo.svg' %}" height="40" width="144" class="d-inline-block align-middle" alt="Demokratie in Bewegung">
                </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/hilfe">Hilfe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='https://bewegung.jetzt/datenschutz/'>Datenschutz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/ueber/'>Impressum</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'new_initiative' %}"><i class="material-icons add-circle-outline">add_circle_outline</i>Neue Initiative</a>
                    </li>
                    {% guard can_create_policy_change %}
                    {% if can_create_policy_change %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_policychange' %}"><i class="material-icons add-circle-outline">add_circle_outline</i>AO-Änderung</a>
                    </li>
                    {% endif %}
                    {% guard can_create_plenum_vote %}
                    {% if can_create_plenum_vote %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_plenumvote' %}"><i class="material-icons add-circle-outline">add_circle_outline</i>Plenumsentscheidung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_plenumoptions' %}"><i class="material-icons add-circle-outline">add_circle_outline</i>Plenumsabwägung</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons notifications">notifications</i>
                        	{% live_notify_badge %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right notifications" aria-labelledby="navbarDropdownMenuLink">
                        {% live_notify_list %}
                       	</div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle avatar" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% include "fragments/avatar.html" with size=40 %}
						</a>
                        <div class="dropdown-menu dropdown-menu-right profile" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile_edit' %}">Profileinstellungen</a>
                            {% if user.is_superuser %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'mass_invite' %}">Leute einladen</a>
                                <a class="dropdown-item" href="{% url 'export_results' %}">Ergebnisse exportieren</a>
                                <a class="dropdown-item" href="/admin/">Admin</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/account/logout/">Abmelden</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/registrieren/"><i class="material-icons chevron-right">chevron_right</i>Registrieren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/login/"><i class="material-icons person">person</i>Anmelden</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <header>
        {% block custom_header %} {% endblock %}
    </header>
    {% if messages %}
    <div class="container-fluid push-alert fixed-top">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="main">
        {% block content %} {% endblock %}
    </div>
    <!-- Needed by Bootstrap 4.0 -->
    <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/dib/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='update_notifications,fill_notification_badge' %}
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.0.0-alpha.6-dist/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/js-cookie.js' %}"></script>
    <script src="{% static 'js/vendor/hyphenator-loader.js' %}" type="text/javascript"></script>
    {% block body-javascript %}{% endblock %}
</body>
