{% extends "bootstrap_ui/bootstrap-skeleton.html" %}



    {% load bootstrap_ui_tags %}


{% block body-content %}

<header class="bs-docs-nav navbar navbar-static-top" id="top">
<div class="container">
<div class="navbar-header">
<button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
<span class="sr-only">Navigation ein/ausblenden</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="../" class="navbar-brand">Demokratie in Bewegung</a>
</div>
<nav class="collapse navbar-collapse" id="bs-navbar">

<ul class="nav navbar-nav navbar-right">
  <li><a href="/#hilfe">Hilfe</a></li>
  <li><a href="/account/login">Login</a></li>
</ul>
</nav>
</div>
</header>

{% container type="fluid"%}

{% block content %}

{% endblock %}

{% endcontainer %}


{% endblock %}