{% extends "in_box.html" %}
{% load i18n bootstrap %}

{% block body %}
<div class="row">
    <div class="col">
        <h2>Avatar einstellen</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            <h4>{% trans "Your current avatar: " %}</h4>
            <p class="mt-3">{% include "fragments/avatar.html" %}</p>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <h4>Hochgeladenen Avatar wählen</h4>
        {% if not avatars %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% else %}
            <form method="POST" action="{% url 'avatar_change' %}">
                {% csrf_token %}
                {{ primary_avatar_form|bootstrap }}
                <button class="btn btn-primary" type="submit">Auswählen</button>
            </form>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Neuen Avatar hochladen</h3>
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {{ upload_avatar_form|bootstrap }}
            <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
        </form>
    </div>
</div>
<div class="row mt-2 mb-4">
    <div class="col">
        <a href="{% url "profile_edit" %}"><i class="material-icons chevron-left">chevron_left</i>zurück zu den Profileinstellungen</a>
    </div>
</div>
{% endblock %}
