<div class="container-fluid init-index-header">
    <div class="container">
        <div class="row title">
            <div class="col-12 initiative-text" style="padding-bottom: 2rem;text-align:center">
                <p>Lies <a href="https://marktplatz.bewegung.jetzt/t/agora-warum-ein-neues-beteiligungsformat/28341"><b>hier</b></a> mehr zur Motivation hinter der Agorá.</p>
                <p><a href="https://marktplatz.bewegung.jetzt/t/agora-wie-funktioniert-das/28342"><b>Hier</b></a> findest Du eine genauere Erklärung des Agorá-Prozesses.</p>
                <p><a href="{% url 'archive' %}"><b>Hier</b></a> werden die bisherigen Themen der Agorá archiviert.</p>
            </div>
        </div>
    </div>
</div>