<div class="container-fluid init-index-header">
    <div class="container">
        <div class="row title">
            <div class="col-12 initiative-text" style="padding-bottom: 2rem">
                <p>Fast zwei Jahre hat DiB jetzt schon „auf dem Buckel“. Wir haben viel getestet und viel gelernt. Jetzt brauchen wir den nächsten Schritt, die nächste Version – es ist Zeit für DiB 2.0!</p>
<p>Hier in der Agorá kannst du dich mit Ideen, Beiträgen und Feedback an der Weiterentwicklung von DiB beteiligen. Jede Woche gibt es dafür neue Fragen.</p>
<p>Lies hier mehr zur Motivation hinter der Agora. (Link zum Motivationstext, ggf. eher auf dem marktplatz?)</p>
<p>Finde hier eine genauere Erklärung des Agora-Prozesses. (Link zur Anleitung/Hilfe-Seite)</p>
            </div>
        </div>
    </div>
</div>