{% load guard %}
{% load mathfilters %}
{% load fullurl %}
<div id="init-card-{{initiative.id}}" class="card {% guard is_supporting initiative %}{% if is_supporting %}supported{% endif %} {% guard my_vote initiative %}{% if my_vote %}voted{% endif %} {{initiative.einordnung}}-card">
	<div class="card-header">
		<div class="container-fluid">
			 <div class="row no-gutters">
			 	<div class="col align-self-center">
			 		<div class="d-flex flex-wrap">
				 		<div class="flex-item">
							{% ifequal initiative.state 'p' %}
							<span class="badge badge-prepare">
								In Vorbereitung
							</span>
							{% endifequal %}

							{% ifequal initiative.state 'i' %}
							<span class="badge badge-arrivals">

								{% if perms.initproc.add_moderation %}
									{% guard should_moderate_initiative initiative %}
									{% if should_moderate_initiative %}
									💥💥 Bitte prüfen 💥💥
									{% else %}
									In Prüfung
									{% endif %}
								{% else %}
								In Prüfung
								{% endif %}
							</span>
							{% endifequal %}

							{% ifequal initiative.state 's' %}
							<span class="badge badge-support">
								Sucht Unterstützung -
								{% if initiative.absolute_supporters < initiative.quorum %}
								  {{initiative.quorum|sub:initiative.absolute_supporters}} fehlende {% if initiative.quorum|sub:initiative.absolute_supporters == 1 %}Unterstützer*in{% else %}Unterstützer*innen{% endif %}
							    {% else %}
								  Quorum erreicht
							    {% endif %}
							</span>
							{% endifequal %}

							{% ifequal initiative.state 'd' %}
							<span class="badge badge-discussion">
								In Diskussion
							</span>
							{% endifequal %}

							{% ifequal initiative.state 'e' %}
							<span class="badge badge-edits">
								Finale Überarbeitung
							</span>
							{% endifequal %}

							{% ifequal initiative.state 'm' %}

							<span class="badge badge-arrivals">

								{% if perms.initproc.add_moderation %}
									{% guard should_moderate_initiative initiative %}
									{% if should_moderate_initiative %}
									💥💥 Bitte final prüfen 💥💥
									{% else %}
									Finale Prüfung
									{% endif %}
								{% else %}
								Finale Prüfung
								{% endif %}
					      	</span>
							{% endifequal %}

							{% ifequal initiative.state 'v' %}
							<span class="badge badge-vote">
								Abstimmung
							</span>
							{% endifequal %}

							{% ifequal initiative.state 'a' %}
							<span class="badge badge-accepted">
								Angenommen
							</span>
							{% endifequal %}

							{% ifequal initiative.state 'r' %}
							<span class="badge badge-rejected">
								Abgelehnt
							</span>
							{% endifequal %}
						</div>
						{% if initiative.state != 'i' and initiative.state != 'a' and initiative.state != 'r' and initiative.state != 'p' and initiative.state != 'm' %}
						<div class="flex-item mr-auto">
							<span class="text-muted align-middle">
								Noch {{initiative.end_of_this_phase | timeuntil}}
							</span>
						</div>
						{% else %}
						<!-- Dirty Positioning Fix – only temporary, find better solution or resolve with new design -->
						<div class="flex-item mr-auto">
						</div>
						{% endif %}

						{% if user.is_authenticated %}

						<div class="flex-item">
							{% if initiative.is_initiative and initiative.state != 'p' and initiative.state != 'i' %}
							{% guard is_supporting initiative %}
							{% if is_supporting %}
							<div class="participation-indicator">
								<i class="material-icons check-circle fg-support" data-toggle="tooltip" title="{% if initiative.state == 's' %}Du unterstützt diese {{initiative.subject}}{% else %}Du hast diese {{initiative.subject}} unterstützt{% endif %}">check_circle</i>
							</div>
							{% else %}
							<div class="participation-indicator">
								<i class="material-icons check-circle fg-inactive" data-toggle="tooltip" title="{% if initiative.state == 's' %}Du unterstützt diese {{initiative.subject}} noch nicht{% else %}Du hast diese {{initiative.subject}} nicht unterstützt{% endif %}">check_circle</i>
							</div>
							{% endif %}
							{% endif %}

							{% if initiative.state == 'v' or initiative.state == 'a' or initiative.state == 'r' %}
							<div class="participation-indicator">
							{% guard my_vote initiative %}
							{% if my_vote %}
  								{% if my_vote.in_favor %}
									<i class="material-icons thumb-up" data-toggle="tooltip" title="{% if initiative.state == 'v' %}Du stimmst für diese {{initiative.subject}}{% else %}Du hast für diese {{initiative.subject}} gestimmt{% endif %}">thumb_up</i>
								{% elif my_vote.against %}
									<i class="material-icons thumb-down" data-toggle="tooltip" title="{% if initiative.state == 'v' %}Du stimmst gegen diese {{initiative.subject}}{% else %}Du hast gegen diese {{initiative.subject}} gestimmt{% endif %}">thumb_down</i>
								{% elif my_vote.abstained %}
									<i class="material-icons abstain" data-toggle="tooltip" title="{% if initiative.state == 'v' %}Du enthältst Dich{% else %}Du hast Dich enthalten{% endif %}">panorama_fish_eye</i>
								{% else %}
									<i class="material-icons thumbs-up-down" data-toggle="tooltip" title="Du hast über diese {{initiative.subject}} {% if initiative.state == 'v' %}schon {% endif %}abgestimmt">thumbs_up_down</i>
								{% endif %}
							{% else %}
								<i class="material-icons thumbs-up-down fg-inactive" data-toggle="tooltip" title="Du hast über diese {{initiative.subject}} {% if initiative.state == 'v' %}noch {% endif %}nicht abgestimmt">thumbs_up_down</i>
							{% endif %}
							</div>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-block">
    	<h4 class="card-title init-title">
    		<a href="{% fullurl 'initiative_item' initype=initiative.einordnung init_id=initiative.id slug=initiative.slug %}">
				{{initiative.title}}
			</a>
		</h4>
    	<p class="card-text">
    		{{initiative.subtitle}}
    	</p>
    	<a href="{% fullurl 'initiative_item' initype=initiative.einordnung init_id=initiative.id slug=initiative.slug %}" class="go-to-intiative"><i class="material-icons chevron-right">chevron_right</i>zur {{initiative.get_einordnung_display}}</a>
  	</div>
  	<div class="card-footer">
  		<div class="container-fluid">
			 <div class="row no-gutters">
			 	{% if initiative.state != 'i' and initiative.state != 'p' %}
			 	<div class="col text-muted align-self-center">
			 		Veröffentlicht am {{initiative.went_public_at}}
			 	</div>
			 	{% else %}
			 	<div class="col text-muted align-self-center">
			 		Noch nicht veröffentlicht
			 	</div>
			 	{% endif %}
			 	<div class="col text-right avatar align-self-center">
			 		{% for ini in initiative.initiators %}
			          {% include "fragments/avatar.html" with size=40 user=ini.user %}
			        {% endfor %}
			 	</div>
			</div>
		</div>
  	</div>
</div>