{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Benutzer*innen anonymisieren
</div>
{% endblock %}

{% block content %}
    <p>Bist Du sicher, dass Du die ausgewählten Benutzer*innen anonymisieren willst?</p>
    <p>Alle personenbezogenen Daten der folgenden Benutzer*innen werden gelöscht.</p>
    <h2>Benutzer*innen</h2>
    {% for user in users %}
    <ul>{{user}}</ul>
    {% endfor %}
    <form method="post">{% csrf_token %}
    <div>
    {% for user in users %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ user.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="anonymize" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
    </div>
    </form>
{% endblock %}
