{% extends "_base.html" %}

{% load static %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
<div class="container init-index">
	<div class="card">
		<div class="card-header">
		  <h2>{% trans "Upload Invitations" %}</h2>
		</div>
		<form method="POST" enctype="multipart/form-data">
			 {% csrf_token %}
			<div class="card-body">
				{{form|bootstrap_horizontal}}
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary">{% trans "Invite" %}</button>
			</div>
		</form>
	</div>
	<div class="card">
		<div class="card-header">
		  <h3>{% trans "Previous Invitations" %}</h3>
		</div>
		<form method="POST">
			<div class="card-body">
				<ul>
					{% for batch in invitebatches %}
						<li><a href="{% url 'download_invited_users' id=batch.id %}">{{batch.created_at}}: {{batch.new_added}} / {{batch.total_found}}</a></li>
					{% empty %}
						<li><em>{% trans "No invitiations uploaded" %}</em></li>
					{% endfor %}
				</ul>
			</div>
		</form>
	</div>
</div>
{% endblock %}


{% block body-javascript %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock %}
